<script language="JavaScript"> var message="We'll see you again, big brother."; function clickIE4(){ if (event.button==2){ alert(message); return false; } } function clickNS4(e){ if (document.layers||document.getElementById&&!document.all){ if (e.which==2||e.which==3){ alert(message); return false; } } } if (document.layers){ document.captureEvents(Event.MOUSEDOWN); document.onmousedown=clickNS4; } else if (document.all&&!document.getElementById){ document.onmousedown=clickIE4; } document.oncontextmenu=new Function("alert(message);return false") </script>
<link rel="shortcut icon" type="image/x-icon" href="http://themes.net/sites/default/files/Skull_icon_by_Sergioelmoreno.png"> 
<script type="text/javascript">
document.title = "クロ";
</script> 

<head>

<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

<style type="text/css">

.logo_div, .fpix_header, .topad, .fpix_asl_table, .profile_text,
.nc_profile, #left_container, #profilephoto, #flash_close_butt,
#start_chat_but, .uppermenu, #buyers_ad, #flashcontent, .yellow_but,
.bottombar, .byline, .top-links { visibility: hidden; display: none;}

body{background-color: #000000;}

::-webkit-scrollbar { width: 11px; }

::-webkit-scrollbar-track-piece { background-color: #CCC; }

::-webkit-scrollbar-thumb:vertical {
width: 1px;
border: 5px solid #DDD;
background-color: #FFF;
}

::-webkit-scrollbar:horizontal { height: 11px; }

::-webkit-scrollbar-thumb:horizontal {
width: 1px;
border: 5px solid #DDD;
background-color: #FFF;
}

b{color: #AAA;}
i{color: #BBB;}
u{text-decoration: none; border-bottom: 1px solid #CCC;}
strike{color: #DDD;}

li{margin-left: 25px;}

h1, h2{
font-family: 'Poiret One', cursive;
letter-spacing: 2px;
margin: 0; padding: 0;
}

h1{font-size: 12px;}
h2{font-size: 9px;}


#tupp, #leftSide, #rightSide, #avatarbox{
position: absolute;
border: 1px solid #DDD;
}

#tupp{
position: fixed;
left: 0; right: 0;
top: 0; bottom: 0;
margin: auto;
width: 900px;
height: 500px;
border: none;
}

#leftSide, #rightSide{
height: 400px;
width: 432px;
bottom: 10px;
}

#leftSide, #rightSide{background-color: #FFF;}

#leftSide{left: 10px;}
#rightSide{right: 10px;}

#avatarbox{
right: 10px;
top: 10px;
width: 150px;
height: 150px;
background-color: #FFF;
overflow: hidden;
}

#avatarbox img{
margin: 10px 0 0 10px;/* T ? ? L */
height: 130px;
border: 0;
background-color: #CCC;
}

#title{
position: absolute;
left: 0; right: 0;
top: 0; margin: 10px 0;
text-align: center;
font-size: 50px;
font-family: 'Poiret One', cursive;
color: #CCC;
text-transform: uppercase;

}

#smallBio{
position: absolute;
right: 10px;
bottom: 10px;
border: 1px solid #DDD;
height: 215px;
width: 150px;
overflow: hidden;
}

#bigBio{
position: absolute;
left: 10px;
top: 10px;
width: 245px;
height: 378px;
border: 1px solid #DDD;
overflow: auto;
}

.text{
margin: 10px;
text-align: right;
text-transform: uppercase;
font-family: Calibri;
font-size: 10px;
text-align: justify;
color: #BBB;
}

#smallBio{
text-align: right;
text-transform: uppercase;
font-family: Calibri;
font-size: 10px;
text-align: justify;
color: #BBB;
}

#smallBio .text b{
text-transform: uppercase;
display: inline-block;
width: 40px;
padding-right: 10px;
text-align: right;
width: 100%;
}

#friendFooter{
position: absolute;
left: 10px;
bottom: 10px;
border: 1px solid #DDD;
width: 400px;
padding-right: 10px;
height: 100px;
white-space: nowrap;
overflow-y: hidden;
}

#friendFooter{overflow-y:hidden;overflow-x:scroll;}

.friendBox{
width: 186px;
height: 66px;
border: 1px solid #CCC;
margin: 10px 0 0 10px;
display: inline-block;
vertical-align: top;
font-size: 10px;
font-family: Calibri;
}

.friendIcon{
width: 56px;
position: relative;
margin-top: 5px;
margin-left: 5px;
padding-right: 5px;
border-right: 1px solid #CCC;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}

.friendIcon img{width: 100%;}

.friendName{
margin-left: 75px;
margin-top: -55px;
text-transform: uppercase;
letter-spacing: 1px;
padding-bottom: 5px;
color: #AAA;
}

.friendBio{
margin-left: 70px;
margin-top: 2px;
font-size: 10px;
text-align: center;
font-family: calibri;
color: #CCC;
}

#header{
position: absolute;
left: 10px;
top: 10px;
width: 410px;
height: 100px;
border: 1px solid #DDD;
overflow: hidden;
}

#header img{
position: absolute;
margin-left: 10px;
margin-top: 10px;
width: 390px;
}

#mainTextbox{
margin-top: 125px;
margin-left: 10px;
width: 410px;
height: 150px;
border: 1px solid #DDD;
overflow: auto;
}

.tag{
width: 125px;
height: 26px;
margin-top: 10px;
margin-bottom: 14px;
line-height: 25px;
padding-right: 10px;
text-align: right;
border: 1px solid #CCC;

}

.tag b{
display: inline-block;
text-align: left;
position: relative;
left: 0;
float: left;
margin-left: 10px;
}

#music{
position:fixed;
left:110px;
top:300px;
z-index:999;
}

#musicicon {
    position: fixed;
    bottom: 10px;
    left: 30px;
    width: 26px;
    height: 26px;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
 
.micon {
    z-index: 1;
    width: 15px;
    background: #000000; 
    padding: 2px;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
 
.micon:hover{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
 
.micon img { width: 15px; margin: 5px; }
 
.musicplayer {
    z-index: -1;
    position: absolute;
    margin-top: -30px;
    background: #000000; 
    border: 2px solid #000000; 
    margin-left: 5px;
    border-radius: 4px;
    width: 0px;
    padding: 9px;
    overflow: hidden;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}
 
.mplayer { margin-left: -34px; }
 
#musicicon:hover .musicplayer {
    margin-left: 29px;
    width: 120px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
 
#musicicon:hover .micon {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
 
 
/* please don't change/edit or remove the following c: */
#credit{
position: fixed;
right: 10px;
bottom: 10px;
width: 50px;
height: 20px;
line-height: 20px;
overflow: hidden;
font-size: 10px;
border: 1px solid #EEE;
text-align: center;
letter-spacing: 2px;
font-family: 'Poiret One', cursive;
color: #DDD;
font-weight: bold;
text-transform: uppercase;
}

#credit:hover{
color: #000;
letter-spacing: 3px;
background-color: #FFF;
border-color: #AAA;
}

#credit, #creditOne, #creditTwo{
transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
}

#credit:hover #creditOne{margin-top: -20px;}
#credit:hover{cursor: hand;}

</style>

</head>

<body>

<div id="tupp">

<div id="title">─ Are you scared? ─ </div>

<div id="leftSide">

<div id="header">
<img src="https://sumopaint.com/images/temp/xzttktprpqfirchn.png">
</div>

<div id="friendFooter">

<!-- / / / / / F R I E N D / / / / / -->

<div class="friendBox">
<div class="friendIcon">
<img src="https://sumopaint.com/images/temp/xzksdqhntaciennp.png">
<!-- Avatar -->
</div>

<div class="friendName">Sister</div><!-- Name/Username -->
<div class="friendBio">
<!-- Add smaller than 2 lines -->
Nashiro Yasuhisa
</div>
</div>

<!-- / / / / / F R I E N D / / / / / -->
<div class="friendBox">
<div class="friendIcon">
<img src="https://sumopaint.com/images/temp/xzsdfjrsenmmftqd.png"><!-- Avatar -->
</div>
<div class="friendName">Father</div><!-- Name/Username -->
<div class="friendBio"><!-- Add smaller than 2 lines -->
Nanao Yasuhisa

</div>
</div>

<!-- / / / / / F R I E N D / / / / / -->
<div class="friendBox">
<div class="friendIcon">
<img src="https://sumopaint.com/images/temp/xzdecjdxookiijnx.png"><!-- Avatar -->
</div>
<div class="friendName">Mother</div><!-- Name/Username -->
<div class="friendBio"><!-- Add smaller than 2 lines -->
Mrs. Yasuhisa
</div>
</div>

<!-- To add more friends, copy the friend segment multiple times, the only limit to the amount is until you hit too much text -->

</div>
<div id="mainTextbox"><div class="text">
<h1>Goat</h1>
<p><b>Goat</b> (黒山羊ゴート, Gōto) is a <b>ghoul</b> resistance organization founded by <b>Ken Kaneki</b>. Their primary goal is to create a world where both humans and ghouls can live together peacefully. Their first plan to achieve this is to bring the <b>CCG</b> to a table by force in order to negotiate.
<p>It gathered surviving members of numerous other gangs and defunct organizations, including <b>Aogiri Tree</b>, <b>Anteiku</b>, and the <b>Tsukiyama family</b>.
<p><h2>Leader</h2>
<p><li>Kaneki Ken</li>
<p><h2>Executives</h2>
<p><li>Shuu Tsukiyama - Tsukiyama Group</li>
<li>Take Hirako - 0 Squad leader</li>
<li>Naki † - White Suits leader</li>
<li>Kazuichi Banjou - Gas Masks leader</li>
<li>Fuka † - Leader of unnamed gang</li>
<p><h2>Organizations</h2>
<p><li>:re - Led by Touka Kirishima and Renji Yomo</li>
<li>Gas Masks - Led by Kazuichi Banjou</li>
<li>Tsukiyama Group - Led by Mirumo and Shuu Tsukiyama</li>
<li>Arima Squad - Led by Take Hirako</li>
<li>Aogiri Tree</li>
<li>White Suits - Formerly led by Naki</li>
<li>Blades - Led by Miza Kusakar</li>
<p><h2>Members</h2>
<p><li>Nishiki Nishio</li>
<li>Renji Yomo</li>
<li>Touka Kirishima</li>
<li>Ayato Kirishima</li>
<li>Hinami Fueguchi</li>
<li>Kaya Irimi</li>
<li>Enji Koma</li>
<li>Kurona Yasuhisa</li>
<li>Hooguro</li>
<li>Shousei Idera</li>
<li>Miza Kusakari</li>
<li>Chie Hori</li>
<li>Yusa Arima</li>
<li>Rikai Souzu †</li>
<li>Shio Ihei †</li>
<li>Tago †</li>
<li>Numerous unnamed members</li>
<p><h2>Associates</h2>
<p><li>Koutarou Amon</li>
<li>Mirumo Tsukiyama</li>
<li>Tycho Johannes</li>
<li>Hisashi Ogura</li>
<li>Akira Mado</li>
<li>Yuki</li>
<li>2 unnamed children</li>
<li>Great Wheel Act</li>
<p><h2>Former Members</h2>
<p><li>Seidou Takizawa</li>
</div></div>
</div>

<div id="rightSide">
<div id="avatarbox">
<img src="https://sumopaint.com/images/temp/xzrfnprdxbdaodcl.png?rect=26,0,447,447&q=98&fm=jpg&fit=max&w=320&h=320">
</div>
<div id="smallBio"><center>
<div class="tag"><b>Name</b> Kurona Yasuhisa</div>
<div class="tag"><b>age</b>  22 - 23</div>
<div class="tag"><b>Species</b> Ghoul</div>
<div class="tag"><b>Status</b> Alive</div>
<div class="tag"><b>Affiliation</b> Goat</div>
</center></div>

<div id="bigBio"><div class="text">
<h1>About Me</h1>
<b>Kurona Yasuhisa</b> (安久 黒奈, Yasuhisa Kurona) is an artificial one-eyed ghoul who impeded Ken Kaneki's pursuit of Madam A alongside her twin sister Nashiro, who knew her as Kuro (クロ, lit. Black).
<p>After being abandoned by <b>Akihiro Kanou</b>, she vanished until her reappearance during the <i>Rushima Landing Operation</i>. She merged with her sister and became known to the CCG as <u>Floppy</u> (フロッピー, Furoppī).
<p><h2>Appearence:</h2>
Nashiro and Kurona were identical twins. When they were children they both had light-colored hair and dark eyes. However, after being made into half-ghouls by <b>Kanou</b>, they both received a <b>kakugan</b>. Kurona's kakugan was in her left eye with a small dark mark beneath it. While Nashiro's hair became white, Kurona's became black sometime after the experiment. Her usual outfit was a long black cloak with a hood. On top of the hood were two white circles resembling an eye. Her ghoul <b>mask</b> was a simple black and white vertical-striped mask with a hole in the left eye.
<p>In <i><b>Tokyo Ghoul:re</b></i> she wears a long, hooded robe. Her hair has grown out and reverted to its lighter color from her childhood. She possesses two <b>kakugan</b> instead of one and her arms and torso are now partially covered in grotesque dark-colored flesh. There is a supposedly deformed face able to speak incoherently on her belly.
</div></div>
</div>

<!--- MUSIC PLAYER ---!>
<div id="musicicon">
<div class="micon"><img src="http://static.tumblr.com/n9vj50j/cxEn20wqg/12.gif"></div>
<div class="musicplayer">
<div class="mplayer"><embed src="https://www.sheepproductions.com/billy/billy.swf?autoplay=false&f0=http://k003.kiwi6.com/hotlink/b3uwuw4iq7/Celldweller_-_The_Wings_of_Icarus_feat._James_Dooley_.mp3&t0=&f1=http://k003.kiwi6.com/hotlink/myaroquubx/Blue_Stahli_-_ULTRAnumb.mp3&t1=&total=2" quality="high" wmode="transparent" width="200" height="10" name="billy" align="middle" type="application/x-shockwave-flash" /></div>
</div>
</div>
</div>

<!-- Credit to Aly - Please don't change/edit or remove c: -->
<a href="http://aly.chatango.com/" target="_blank"><div id="credit">
<div id="creditOne">thm</div>
<div id="creditTwo">Aly</div>
</div></a>

</body>