.parallax-cta-blue, .parallax-cta-green, .parallax-cta-red {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(img/cta-bg.png);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }