body{
    margin: 0px;
    border: 0px;
}
#hero{
    background-image: url('../IMG/background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}
#menu
ul li{
    list-style-type: none;
    display: inline;
    font-size: 50px;
    /*background: #DF7401;*/
    padding: 60px;
    border-radius: 8px;
    
    
}


a:hover{
    font-size: 60px;
    
}

a{
    text-decoration: none;
    color: black;
    
}

#menu{
    text-align: center;
}

#cabezera{
    text-align: left;
    
  
}

#social{
    text-align: right;
}



#pie{
    text-align: center;
    font-size: 28px;
}


#audio{
    text-align: right;
    
}




form{
    width: 800px;
    margin: 0 auto;
    border: 2px solid buttonface;
    border-radius: 10px;
    padding: 2em;

}

#formulario h1{
    text-align: center;

}

label{
    display:inline-block;
    width:100px;
    text-align: right;     
    font-weight: bold;
}

input, textarea{
    width: 400px;
    font: 1em cursive;
    border: 1px solid green;
}
textarea{
    vertical-align: middle;
}

boton{
    padding-left: 100px;

}

button{
    font-size: 1.5em;
    font-weight: bold;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    font-size: 28px;
    
}