server {                                                                                                                                                                                      
    server_name <snip>;                                                                                                                                                            
    listen 80;                                                                                                                                                                                
    index index.html index.htm;                                                                                                                                                               
    error_log /var/log/nginx/intranet_error.log error;                                                                                                                                        
    access_log /var/log/nginx/intranet_access.log;                                                                                                                                            
                                                                                                                                                                                              
    location /git/ {                                                                                                                                                                          
        include fastcgi_params;                                                                                                                                                               
        fastcgi_split_path_info ^/(.+?\.git)(.*)$;                                                                                                                                            
        fastcgi_param SCRIPT_FILENAME /usr/libexec/git-core/git-http-backend;                                                                                                                 
        fastcgi_param SCRIPT_NAME /usr/libexec/git-core/git-http-backend;                                                                                                                     
        fastcgi_param REMOTE_USER $remote_user;                                                                                                                                               
        fastcgi_param GIT_PROJECT_ROOT /data/repositories;                                                                                                                                    
        fastcgi_param GIT_HTTP_EXPORT_ALL true;                                                                                                                                               
        fastcgi_param PATH_INFO $uri;                                                                                                                                                         
        fastcgi_pass <snip>:60002;                                                                                                                                             
    }                                                                                                                                                                                                                                                                                                                                                                         
                                                                                                                                                                                              
    location /nfsen {                                                                                                                                                                         
        include fastcgi_params;                                                                                                                                                               
        fastcgi_split_path_info ^/nfsen/(.+?\.php)(.*)$;                                                                                                                                      
        fastcgi_pass <snip>:8999;                                                                                                                                            
        fastcgi_index nfsen.php;                                                                                                                                                              
        fastcgi_param SCRIPT_FILENAME /srv/http/$fastcgi_script_name;                                                                                                                         
        fastcgi_param REMOTE_USER $remote_user;                                                                                                                                               
        fastcgi_param QUERY_STRING $query_string;                                                                                                                                             
    }                                                                                                                                                                                         
                                                                                                                                                                                              
    location /icinga {                                                                                                                                                                        
        include fastcgi_params;                                                                                                                                                               
        fastcgi_pass <snip>:9000;                                                                                                                                           
        fastcgi_index index.php;                                                                                                                                                              
        fastcgi_split_path_info ^/icinga/(.+?\.php)(.*)$;                                                                                                                                     
        fastcgi_param PATH_INFO $fastcgi_path_info;                                                                                                                                           
        fastcgi_param SCRIPT_FILENAME /usr/share/webapps/icingaweb2/public/$fastcgi_script_name;                                                                                              
        fastcgi_param ICINGAWEB_CONFIGDIR /etc/icingaweb2;                                                                                                                                    
        fastcgi_param REMOTE_USER $remote_user;                                                                                                                                               
    }

   location /buildbot/ {                                                                                                                                                                     
        proxy_pass http://<snip>:8010/;                                                                                                                                   
        proxy_set_header HOST $host;                                                                                                                                                          
        proxy_set_header X-Real-IP $remote_addr;                                                                                                                                              
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;                                                                                                                          
        proxy_set_header X-Forwarded-Proto  $scheme;                                                                                                                                          
        proxy_set_header X-Forwarded-Server  $host;                                                                                                                                           
        proxy_set_header X-Forwarded-Host  $host;                                                                                                                                             
    }                                                                                                                                                                                         
                                                                                                                                                                                              
    location /buildbot/sse/ {                                                                                                                                                                 
        proxy_set_header HOST $host;                                                                                                                                                          
        proxy_set_header X-Real-IP $remote_addr;                                                                                                                                              
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;                                                                                                                          
        proxy_set_header X-Forwarded-Proto  $scheme;                                                                                                                                          
        proxy_set_header X-Forwarded-Server  $host;                                                                                                                                           
        proxy_set_header X-Forwarded-Host  $host;                                                                                                                                             
        proxy_buffering off;                                                                                                                                                                  
        proxy_pass http://<snip>:5000/sse/;                                                                                                                               
    }                                                                                                                                                                                         
                                                                                                                                                                                              
    location /buildbot/ws {                                                                                                                                                                   
        proxy_set_header HOST $host;                                                                                                                                                          
        proxy_set_header X-Real-IP $remote_addr;                                                                                                                                              
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;                                                                                                                          
        proxy_set_header X-Forwarded-Proto  $scheme;                                                                                                                                          
        proxy_set_header X-Forwarded-Server  $host;                                                                                                                                           
        proxy_set_header X-Forwarded-Host  $host;                                                                                                                                             
        proxy_http_version 1.1;                                                                                                                                                               
        proxy_set_header Upgrade $http_upgrade;                                                                                                                                               
        proxy_set_header Connection "upgrade";                                                                                                                                                
        proxy_pass http://<snip>:5000/ws;                                                                                                                                 
        proxy_read_timeout 6000s;                                                                                                                                                             
    }
}