add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload";
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";
add_header X-Robots-Tag none;
add_header Content-Security-Policy "frame-ancestors https://*.tronflix.com https://tronflix.com";
add_header X-Frame-Options "ALLOW-FROM https://*.tronflix.com" always;
add_header Referrer-Policy "strict-origin";