/*
	itslike4am.css
	Hecho con amor por el juguetero
	rel-0.3 03/12/2017
*/

body {
    background-color: #222;
    color: #CED1CF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body.mainpage {
    background: #222222 url(/bg2.gif);
    font-size: 14px;
}

hr{
	display: none;
    border-bottom: 1px solid black;
}

#titlebox h1 {
    color: #dc9656;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.mainpage .thread {
    color: #CED1CF;
    background: #1D1F21;
    border: 2px double #4B4E55;
    padding: 7px;
    margin-bottom: 19px;
    opacity: 0.95;
                                            
}

body.threadpage {
    background: #222222;
    font-size: 14px;
    background-image: url(/0/junk/w/kizuna.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: calc(100% - 10px);
    background-position-y: bottom;
}

.threadpage .thread {
    padding: 1em;
    color: #CED1CF;
    margin-right: 180px
}

.threadpage .thread h1 {
    font-weight: bold;
    font-size: 1.5em;
    color: #ab4642;
}

.threadpage .nav {
    padding-left: 6px
}

.threadpage h1 {
    color: #ab4642;
}

#rules {
    font-size: 16px;
}

.mainpage .thread h2 a {
    font-size: 1em;
    color: #CC6666;
}

.msg {
    font-size: 16px;
}

h2 small {
    margin-right: 2px;
    color: #999999;
    font-size: inherit;
}

.name,
.trip {
    color: #B5BD68;
}

.name,
.trip,
.abbrev {
    color: #B5BD68;
}

.reply h3 {
    color: #c1c5c2;
}

a,
a:hover,
a .name,
a .trip {
    color: #81A2BE;
}

.outerbox,
#threadlist {
    background: #111213;
    color: #777879;
    border: 1px solid #4B4E55;
    padding: 3px;
}

.outerbox {
    margin-bottom: 19px
}

.innerbox {
    border: none;
    padding: 5px;
    margin: 7px
}

.date {
    color: #4d4e4d;
}

.mainpage h3:hover {
    background: #383838;
}

.extrabox::after {
    content: "leave me here";
    opacity: 0.25;
}

.extrabox {
    border: none;
    color: #222222;
    margin: 7px 0 7px 7px;
    float: left;
    width: 24px;
    height: auto;
    flex: 0 1 24px;
    -webkit-flex: 0 1 24px
}

.footer::after {
    content: " LunyToons y noriega ... con más flOw"
}

.footer {
    color: #f7ca88;
    margin-bottom: 19px
}

.quoted {
    margin-left: 1em;
}

.del a {
    color: #ab4642;
}


/* i fucking hate this */

.size {
    display: none;
    color: #ab4642;
}

.yt {
    border: 1px solid gray;
    color: #e8e8e8;
    background-color: #383838;
}

.mainpage .nav {
    text-align: center;
    background-color: #000;
    color: #7cafc2;
    ;
}

textarea,
input,
select {
    color: #e8e8e8 !important;
    background-color: #383838 !important;
    border: 1px solid #4B4E55;
}

.banner {
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
}

.links {
    text-align: center;
    font-weight: bold
}

#titlebox .threadnav {
    float: right
}

.thread .threadnav {
    text-align: right
}

#styles {
    float: left
}

#threadlinks {
    font-weight: bold;
    text-align: right;
    margin-bottom: 5px
}

.mainpage .threadlinks {
    font-weight: bold
}

.cont {
    border: none;
    padding: 6px 6px 0;
}

.deleted {
    color: #afafaf;
    margin-bottom: 1.1em
}

.q {
    color: #666
}

.formpad {
    padding-left: 40px
}

.size {
    color: #FF0000
}

.threadpage .threadlinks {
    margin: 0.5em 0
}

.mainpage .thread form {
    padding-bottom: 1em
}

form .msg {
    border: 1px dotted #000;
    background: #383838
}

#q-p {
    background: #383838;
    border: 1px solid #999;
    margin-right: 8px
}

#createbox {
    display: flex
}

#createbox .innerbox {
    overflow: hidden;
    flex: 0 1 100%;
    -webkit-flex: 0 1 100%
}

/* country code */
.name em{
	color: #b294bb;
}