.final {
  background-color: #fff !important;
  flex-wrap: wrap !important;
  align-items: space-around !important;
  text-align: left !important;
}

.final .left img {
  width: 100% !important;
}

.final .left {
  width: 24% !important;
  max-width: none !important;
  margin: 0 !important;
}

.final .right {
  margin-left: 4vw !important;
  width: 50vw !important;
}

.final .right a {
  display: block !important;
}

@media only screen and (max-width: 992px) {
  .final {
    padding: 0 15px !important;
    text-align: left !important;
  }

  .final .left {
    width: 30% !important;
    margin-bottom: 5vh !important;
  }

  .final .right {
    font-size: 4vw !important;
    margin-right: 30px !important;
  }

  .final .right p,
  a {
    font-size: 22px !important;
  }
}

@media only screen and (max-width: 565px) {
  .final {
    flex-direction: column !important;
    flex-wrap: wrap !important;
  }

  .final .left {
    width: 30% !important;
  }

  .final .right {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    text-align: center !important;
  }

  .final .right p,
  a {
    font-size: 16px !important;
  }
}

.eye {
  position: fixed !important;
  bottom: 10px !important;
  right: 20px !important;
  width: 70px !important;
}