/*

HEADER
======
*/

.account-link-mobile {
    position: absolute;
    right: 50px;
    height: 30px;
    width: 30px;
    overflow: hidden;
    background:transparent;
    top: 18px;
    display: block;
    a{
        background-image: url(../images/mobile-account-icon.svg);
        display: block;
        height: 30px;
        width: 30px;
        background-size: 100% 100%;
        span{
        @mixin invisible;
        }
    }
    @media (--medium-up){
    @mixin invisible;
    }
}


.search-mobile--trigger {
    display: block;
    position: absolute;
    left: 50px;
    top: 15px;
    height: 30px;
    width: 36px;
    cursor: pointer;
    &:before{
        font-family: '$icon-font-name';
    @mixin icon-font-face;
        font-size: 35px;
        line-height: 33px;
        content: $icon-search;
        color: #0f639d;
    }
    @media ( --medium-up){
    @mixin invisible;
    }
}

.header-block{
    background-color: $gray2;
    .content{
        lost-center: $site-width 15px;
        display: flex;
        height: 40px;
        @media (--small){
            display: block;
        }
        .item{
            lost-column:1/4;
            margin: auto;
            @media (--small){
                lost-column:1/1;
            }
            a{
                height: 40px;
                display: flex;
                align-items: center;
                @media (--small){
                    float: none;
                    margin: auto;
                    width: 200px;
                }
                &.trust{
                    background-image: url(https://emailsignature.trustpilot.com/signature/en-US/2/4e30970200006400051067f7/stars.png) , url(../images/trust-logo.png) ;
                    background-repeat: no-repeat;
                    background-size: 82px 20px, 82px 11px;
                    background-position: 0px 1px, 0px 24px, 100px 100px;
                    .text{
                        margin-left: 90px;
                    }
                    @media (--small){
                    @mixin invisible;
                    }
                    
                }
                &.return{
                    background-image: url(../images/return.svg);
                    background-repeat: no-repeat;
                    background-size: 25px 30px;
                    background-position: center left;
                    
                }
                &.life{
                    background-image: url(../images/life.svg);
                    background-repeat: no-repeat;
                    background-size: 25px 30px;
                    background-position: center left;
                    @media (--small){
                    @mixin invisible;
                    }
                }
                &.compatibility{
                    background-image: url(../images/compatibility.svg);
                    background-repeat: no-repeat;
                    background-size: 27px 30px;
                    background-position: center left;
                    .text{
                        margin-left: 42px;
                    }
                    @media (--small){
                    @mixin invisible;
                    }
                }
                .text{
                    margin-left: 40px;
                    h5{
                        font-weight: 900;
                        color: $font-color;
                        font-size: $min-basefont-fs;
                        line-height: 18px;
                        @media (--small){
                            display: inline-block;
                            margin-right: $margin-small;
                        }
                    }
                    p{
                        color: $font-color;
                        font-size: $min-basefont-fs;
                        line-height: 18px;
                        @media (--small){
                            display: inline-block;
                        }
                    }
                }
            }
            &:last-child{
                width: 180px;
            }
            &:first-child{
                margin-left: 0;
            }
        }
    }
}

@media (--small){
    header{
        background-color: $bliss;
        .links,
        .switcher{
            display: none;
        }
        .contentarea{
        @mixin invisible;
        }
    }
    .checkout-index-index{
        .nav-toggle{
            display: none;
        }
    }
}
.help-link{
@mixin invisible;
}
@media (--medium-up){
    header{
        background-color: $bliss;
        & .content{
            .help-link{
                font-weight: 900;
                padding-left: 70px;
            @mixin invisible;
                a{
                    color:$font-color2;
                    font-size: $min-basefont-fs;
                }
            }
        }
        .panel{
            padding: 3px 0;
            .switcher{
                .switcher-label{
                @mixin invisible;
                }
            }
            .contentarea{
            @mixin invisible;
            }
            .links{
                float: right;
                li{
                    margin-right: $margin-medium;
                    &:last-child{
                        margin: 0;
                    }
                    &.welcome{
                        span{
                            font-weight: 300;
                            font-size: $min-basefont-fs;
                            color: $font-color;
                        }
                    }
                }
            }
            &.wrapper{
                border-bottom: 1px solid #e9e8e8;
                max-width: 100%;
                padding: 0;
                .header{
                    lost-center: $site-width 15px;
                    .superheader-message{
                        display: inline-block;
                        color: $font-color2;
                        font-weight: 400;
                        font-size: $min-basefont-fs;
                        line-height: 22px;
                        @media (--small){
                        @mixin invisible;
                        }
                        a{
                            color: $font-color2;
                            font-weight: 400;
                            font-size: $min-basefont-fs;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .links{
            .customer-welcome{
                position: relative;
                .customer-name{
                    color: $font-color;
                    cursor: pointer;
                    span{
                        font-weight: 700;
                        font-size: $min-basefont-fs;
                        color: $font-color;
                        &:after{
                            font-family: '$icon-font-name';
                        @mixin icon-font-face;
                            content: $icon-down;
                        }
                    }
                    button{
                    @mixin invisible;
                    }
                    &:focus{
                        outline: 0;
                    }
                }
                .customer-menu{
                    position: absolute;
                    z-index: 200;
                    width: 220px;
                    right: 0;
                    top: 35px;
                    text-align: left;
                    display: none;
                    background-color: $bliss;
                    border: 1px solid #eee;
                    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
                    
                    ul{
                        &.header{
                            &.links{
                                width: 100%;
                                padding: 30px 45px 30px 20px;
                            }
                        }
                    }
                    .links{
                        display: block;
                        padding: 0;
                        li{
                            display: block;
                            &:first-child,
                            &:nth-child(2){
                                border-top: 0;
                            }
                            &.customer{
                                margin: $margin-Xlarge 0 20px 0;
                                span{
                                    color: $font-color;
                                    font-size:$min-block-title-fs;
                                    &.name{
                                        font-weight: 700;
                                    }
                                }
                            }
                            &.authorization-link{
                                text-align: center;
                                padding: $padding-medium 0;
                                a{
                                    color:$primary-color;
                                    font-size: $min-basefont-fs;
                                    font-weight: 700;
                                }
                            }
                            a{
                                color: $font-color;
                                font-size: $min-basefont-fs;
                                line-height: 28px;
                                &:hover{
                                    font-weight:900;
                                }
                            }
                            span{
                                color:#b0b0b0;;
                                font-size: $min-basefont-fs;
                                line-height: 28px;
                            }
                        }
                    }
                }
                &.active{
                    .customer-menu{
                        display: block;
                        &:before{
                            content: " ";
                            left: auto;
                            right: 31px;
                            border: 7px solid;
                            border-color: transparent transparent #fff;
                            z-index: 6;
                            position: absolute;
                            top: -14px;
                            @media (--small){
                                right: 8px;
                            }
                        }
                        &:after{
                            content: " ";
                            border: 8px solid;
                            border-color: transparent transparent #eee;
                            z-index: 5;
                            left: auto;
                            right: 30px;
                            position: absolute;
                            top: -16px;
                            @media (--small){
                                right: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1000px){
    header{
        .header.content{
            & > ul{
                &.header.links{
                    padding: 9px 20px 9px 0;
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        width: 451px;
                        height: 42px;
                        background: $bliss;
                        z-inex: 1;
                    }
                }
            }
        }
    }
}

/*
SUPER HEADER
======
*/

header{
    .panel{
        &.top{
            &.wrapper{
                width: 100%;
                max-width: 100%;
                padding: 0;
                /* background-color:#E7E7E7; */
                border-bottom: 1px solid rgba(255,255,255,0.1);
                @media screen and (max-width:999px){
                @mixin invisible;
                }
                .widget{
                    &.block{
                        background-color: $primary-color;
                        lost-center: $site-width 15px;
                        .super-header{
                            lost-column: 1/1;
                            display: flex;
                            align-items: center;
                            height: 39px;
                            .free-shipping{
                                lost-column: 6/12;
                                color: $bliss;
                                font-size: 12px;
                            }
                            .local-center{
                                lost-column: 6/12;
                                text-align: right;
                                color: $bliss;
                                font-size: 12px;
                                p{
                                    font-size: 12px;
                                }
                                button{
                                    background-color: $primary-color;
                                    font-weight: 700;
                                    color:$bliss;
                                    border: none;
                                    border-radius: $radius-medium;
                                    padding: 0;
                                    margin: 0 0 0 $margin-small;
                                    span{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body:not(.checkout-index-index){
    @media (--medium-up){
        header{
            &.page-header{
                .header.links{
                    padding-right: 30px;
                }
            }
        }
    }
}

body:not(.checkout-index-index){
    /*@media (--medium-up){*/
    /*header{*/
    /*&.page-header{*/
    /*position: fixed;*/
    /*top: 0;*/
    /*z-index: 9;*/
    /*width: 100%;*/
    /*.header.links{*/
    /*.acc-create{*/
    /*@mixin invisible;*/
    /*}*/
    /*}*/
    .sticky-header{
        background: #fff;
        width:100%;
        position: fixed;
        transition: transform 0.4s;
        transform: translateY(-100%);
        top:0;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
    }
    /*}*/
    /*}*/
    /*}*/
    @media (--portrait){
        /*margin-top: 117px;*/
        header{
            &.page-header{
                box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
            }
        }
    }
    @media (min-width:1200px){
        /*margin-top: 155px;*/
        /*.nav-sections{*/
        /*position: fixed;*/
        /*top: 113px;*/
        /*transition: top .2s ease-in-out;*/
        /*width: 100%;*/
        /*z-index: 8;*/
        /*}*/
    }
    @media screen and (min-width: 1170px) {
        &.stuck-down-active-search{
            header{
                &.page-header{
                    .block-search{
                        right: calc(50vw - 575px);
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1000px){
        /*margin-top: 155px;*/
        /*.nav-sections{*/
        /*position: fixed;*/
        /*top: 108px;*/
        /*transition: top .2s ease-in-out;*/
        /*width: 100%;*/
        /*z-index: 8;*/
        /*}*/
        &.stuck-down{
            .nav-sections{
                top: -44px;
                transition: top .2s ease-in-out;
            }
            header{
                &.page-header{
                    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
                    .panel{
                        &.wrapper{
                        @mixin invisible;
                        }
                    }
                    .header{
                        &.content{
                            height: 45px;
                        }
                    }
                    
                    .logo{
                    @mixin invisible;
                    }
                }
            }
            .minicart-wrapper{
                height: 45px;
                padding: 0px 0px 9px 0px;
                .action{
                    &.showcart{
                        padding: 8px 0 0 0;
                    }
                }
            }
        }
        &.stuck-down-active-search{
            .sticky-header{
                transform: translateY(-100%);
                transition:transform 0.4s;
                .sticky-breadcrumbs-logo{
                    lost-center: $site-width 15px;
                    position: relative;
                    height:45px;
                }
                .breadcrumbs{
                    margin-left: 30px;
                    margin-right: auto;
                    margin-top: auto;
                    margin-bottom: auto;
                    width: auto;
                    position: relative;
                    left: auto;
                    right: auto;
                    border-bottom:none;
                    display: inline-block;
                    overflow: hidden;
                    width: calc(100% - 440px);
                    ul{
                        padding: 6px 0;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        li,
                        a{
                            vertical-align: middle;
                        }
                        a{
                            &.back-link{
                                display: inline-block;
                                vertical-align: middle;
                                padding: 3px 10px 3px 5px;
                            }
                        }
                        li{
                            a,strong{
                                &:after{
                                    font-size:23px;
                                }
                            }
                        }
                    }
                }
                .sticky-logo{
                    float: left;
                    display: inline;
                    height: 39px;
                    width: 39px;
                    padding-top: 2px;
                    img{
                        max-width: 100%;
                    }
                }
            }
            header{
                &.page-header{
                    .block-search{
                        width:356px;
                        position: fixed;
                        top: -100px;
                        right: 15px;
                        z-index:100;
                        transform: translateY(-100%);
                        transition: transform 0.4s;
                        
                        .minisearch{
                            .search{
                                height: 31px;
                                padding: 9px 50px 9px 10px;
                                select{
                                    &.search-type{
                                    @mixin invisible;
                                    }
                                }
                                
                            }
                            .actions{
                                button{
                                    &.search{
                                        height: 31px!important;
                                    }
                                }
                            }
                            
                        }
                        .search-autocomplete{
                            .smile-elasticsuite-autocomplete-result{
                                .autocomplete-list{
                                    dt{
                                        &.autocomplete-list-title{
                                            padding: $padding-small $padding-large;
                                        }
                                    }
                                    dd{
                                        padding: $padding-small $padding-large;
                                        .product-item{
                                            font-size: $min-basefont-fs;
                                            .f-fix{
                                                .product-primary{
                                                    width: 70%;
                                                    .product-name{
                                                        font-size: $min-basefont-fs;
                                                        line-height: 1.5;
                                                    }
                                                }
                                                .product-secondary{
                                                    width: 30%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.stuck-down{
                .sticky-header {
                    transform: translateY(0);
                }
                header{
                    &.page-header{
                        .block-search {
                            transform: translateY(0%);
                            top:7px;
                        }
                    }
                }
            }
        }
    }
}
@media (--small){
    .sticky-breadcrumbs-logo{
    @mixin invisible;
    }
}