##### Server Block Configuation File #####
# Expires map
map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch; #means no cache, as it is not a static page
    text/css                   max;
    application/javascript     max;
    application/woff2          max;
    ~image/                    30d; #it is only the logo, so maybe I could change it once a month now
}

server {
    listen 80;

    server_name {domain};
	
    root {symfony_web_path};

    proxy_set_header X-Forwarded-Proto $scheme;

    if ( $http_x_forwarded_proto != 'https' ) {
        return 301 https://$host$request_uri;
    }
    
    index app.php index.php;

    error_page 401 /custom_server_errors/401.php;
    error_page 404 /custom_server_errors/404.php;
    error_page 403 = /custom_server_errors/403.php;

    location / {
	    try_files $uri /app.php$is_args$args;
    }

    location ~ \.php(/|$) {
        fastcgi_pass unix:/var/run/php-fpm/www.sock;
	    fastcgi_index index.php;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	    fastcgi_param APP_ENV prod;
		fastcgi_param SYMFONY_ENV prod;
        fastcgi_param HTTPS $https;
        fastcgi_read_timeout 300;
    }

    expires $expires;

    access_log /var/log/nginx/ledms-access.log;
    error_log /var/log/nginx/ledms-error.log;
}

##### nginx.conf #####
user  nginx;
worker_processes  auto;
error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
    multi_accept        on;
    use                 epoll;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    sendfile        on;
    tcp_nopush      off;
    server_tokens off;
    keepalive_timeout  65;
    client_max_body_size 500M;

    gzip on;
    gzip_disable "MSIE[1-6]\.(?!.*SV1)";
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/rss+xml application/atom+xml application/rdf+xml;

    include /etc/nginx/conf.d/*.conf;
}