# Nginx
check process nginx with pidfile /var/run/nginx.pid
	group frontend
	start program = "/usr/bin/systemctl start nginx.service"
	stop program = "/usr/bin/systemctl stop nginx.service"
	if failed host 127.0.0.1 port 80 then restart
	if 5 restarts within 5 cycles then timeout

# MySQL
check process mysqld with pidfile /var/run/mariadb/mariadb.pid
	group database
	start program = "/usr/bin/systemctl start mariadb.service"
	stop program = "/usr/bin/systemctl stop mariadb.service"
	if failed host 127.0.0.1 port 3306 then restart
	if 5 restarts within 5 cycles then timeout

# PHP-Fpm
check process php-fpm with pidfile /var/run/php-fpm/php-fpm.pid
	group backend
	start program = "/usr/bin/systemctl start php-fpm.service"
	stop program  = "/usr/bin/systemctl stop php-fpm.service"
	if failed unixsocket /run/php-fpm/www.sock then restart
	if 3 restarts within 5 cycles then timeout