body 
{
	background-color: white;
}
.container 
{
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
	background-image: url(../img/slim.gif);
	background-repeat: repeat-x;
	font-family: 'Montserrat', 'PTSans'; 
}
a
{
	text-decoration: none;
}

/*Site Nav*/
.site-navigation
{
	float: left;
}

.team-logo
{
	width: 300px;
	float: left;
}

.team-logo img
{
	padding-left: 43px;
	padding-top: 20px;
}
.menu
{
	float: left;
	width:330px;
}
.menu ul li
{
	float: left;
	margin-left: 24px;
	color: white;
}
.menu a
{
	float: left;
	margin-top: 24px;
	color: white;
}
.menu a:hover
{
	text-decoration: underline;
}

.search-bar
{
	float: left;
}

.search-bar input
{
	background-image: url(../img/spy.png);
	background-repeat: no-repeat;
	border-radius: 8px;
	width: 241px;
	height: 31px;
	padding-left: 46px;
	background-position: 3px 3px;
}
.site-header 
{
	height:900px;
	background-image: url(../img/Giro-d-Italia.png);
	background-repeat: no-repeat;
	background-position: 282px 95px;
}
.site-description h1
{
	padding-left: 44px;
	color: white;
	font-size: 50px;
}
.site-description p
{
	padding-left: 79px;
	color: #a09d9d;
	font-size: 20px;
	margin-bottom: 36px;
}
.button 
{
	font-size: 15px;
	color: white;
	background-color: #48a8c3;
	border-radius: 8px;
	padding: 16px 20px;
	margin-left: 100px;
}