include /config/nginx/upstream.conf;

# HTTP Server block to redirect to HTTPS
#server {
#       listen 80;
#       server_name tronflix.com;
#       return 301 https://$host$request_uri;
#}

server {
        listen 80;
        server_name _;

        if ($host  ~ "\b\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b" ) {
                return 301 https://tronflix.com$request_uri;
        }

        if ($host  ~ "sonnenberg.internet-box.ch" ) {
                return 301 https://tronflix.com$request_uri;
        }

        return 301 https://$host$request_uri;
}

# Serves tronflix.com (Organizr) content
server {
        listen 443 ssl http2;
        server_name tronflix.com;
        include /config/nginx/ssl.conf;
        include /config/nginx/headers.conf;
        root /config/www;
        index index.html index.htm index.php;

        # Error Pages
        error_page 400 401 402 403 404 500 502 503 504 http://tronflix.com/error.php?error=$status;

        # Admin Auth level from Organizr
        location /auth-admin {
                internal;
                proxy_pass http://docker.yocum.local:8888/auth.php?admin;
                proxy_set_header Content-Length "";
        }

        # User Auth level from Organizr
        location /auth-user {
                internal;
                proxy_pass http://docker.yocum.local:8888/auth.php?user;
                proxy_set_header Content-Length "";
        }

        # Deny access to all .ht files
        location ~ /\.ht {
                deny all;
        }

        # Home dir, Organizr
        location ^~ / {
                include /config/nginx/proxy.conf;
                proxy_pass http://docker.yocum.local:8888;
                proxy_set_header Host $host;
        }

        # Sonarr location block
        location /sonarr/ {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_pass http://docker.yocum.local:8989/sonarr/;
                proxy_set_header Host $host;
        }

        # Radarr location block
        location /radarr/ {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_pass http://docker.yocum.local:7878/radarr/;
                proxy_set_header Host $host;
        }

        # PlexPy location block
        location /plexpy/ {
                auth_request /auth-admin;
                #include /config/nginx/proxy.conf;
                proxy_pass http://docker.yocum.local:8181/plexpy/;
        }

        # PlexPy v2 location block
        #location /plexpy/ {
        #        auth_request /auth-admin;
        #        include /config/nginx/proxy.conf;
        #        proxy_pass http://docker.yocum.local:8282/plexpy/;
        #}

        # Ombi location block
        location /ombi/ {
                auth_request /auth-user;
                include /config/nginx/proxy.conf;
                proxy_pass http://docker.yocum.local:3579;
        }

        # NetData location block
        location /netdata/ {
                proxy_redirect off;
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-Host $host;
                proxy_set_header X-Forwarded-Server $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_http_version 1.1;
                proxy_pass_request_headers on;
                proxy_set_header Connection "keep-alive";
                proxy_store off;
                proxy_pass http://netdata-upstream/;
        }

        # CUSTOM NETDATA
        location /customnetdata {
                root /config/www;
                index custom.html;
        }

        # Jackett location redirect block
        location /jackett {
                return 301 /jackett/;
        }

        # Jackett location block
        location /jackett/ {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                rewrite /jackett/(.*) /$1 break;
                proxy_pass http://docker.yocum.local:9117/jackett;
                proxy_set_header Host $host;
                proxy_set_header X-Forwarded-Host $server_name;
        }

        # NzbGet location block
        location /nzbget {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_pass http://torbox:6789;
        }

        # NzbHydra location redirect block
        location /nzbhydra {
                return 301 /nzbhydra/;
        }

        # NzbHydra location block
        location /nzbhydra/ {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_pass http://docker.yocum.local:5075/nzbhydra/;
        }

        # Deluge location block
        location /deluge {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_set_header X-Deluge-Base "/deluge/";
                proxy_pass http://torbox:8112/;
        }

        # Wetty Terminal location block
        location /wetty {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
                proxy_set_header Host $http_host;
                proxy_set_header X-NginX-Proxy true;
                proxy_pass http://docker.yocum.local:3000;
        }

        # Guacamole location block
        location /guacamole {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
                proxy_set_header Host $http_host;
                proxy_set_header X-NginX-Proxy true;
                proxy_pass http://docker.yocum.local:8080;
        }

        #PLEX location blocks
        # Serve the CSS code
        location /web {
                include /config/nginx/proxy.conf;
                proxy_pass http://file-server-2:32400;
        }

        # Main /plex rewrite
        # Proxy request to Plex Server
        location /plex {
                include /config/nginx/proxy.conf;
                proxy_pass http://file-server-2:32400/web;
        }

        # Logarr location block
        location /logarr {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_pass http://docker.yocum.local:8000/logarr;
        }

        # Portainer redirect location block
        location /portainer {
                return 301 /portainer/;
        }

        # Portainer location block
        location /portainer/ {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_set_header Connection "";
                proxy_pass http://portainer-upstream/;
        }

        # Portainer websocket location block
        location /portainer/api/websocket/ {
                auth_request /auth-admin;
                include /config/nginx/proxy.conf;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "upgrade";
                proxy_pass http://portainer-upstream/api/websocket/;
        }

        # Grafana redirect location block
        location /grafana {
                return 301 /grafana/;
        }

        # Grafana location block
        location /grafana/ {
                include /config/nginx/proxy.conf;
                proxy_pass http://docker.yocum.local:3001/;
                #rewrite  ^/grafana/(.*)  /$1 break;
        }
}