@font-face {
  font-family: mplus;
  src: url('mplus-1mn-regular.ttf');
}
.none {
  display: none;
  font-size: 0;
  height: 0px;
}
.card {
 font-family: "mplus", arial;
 font-size: 20px;
 text-align: center;
 color: #fff;
 background: url("_backgroundChinese.jpg");
 background-position: center -70%;
}
hr {
  border: 0;
  color: transparent;
  background-color: transparent;
  border-top: 1px dotted #fff;
}
.container {
  margin: 0 0 1em;
  padding: .75em;
  background: #768ca3;
  opacity: 1;
  border-radius: 5px;
  overflow: hidden;
}
.mobile .container {
  font-size: 25px;
}
#keyword {
  padding: 3.75em .75em .75em;
}
#reference,
#focusmorph {
  font-size: 2em;
  position: absolute;
  top: 30px;
  left: 0;
  background: #e1c388;
  font-weight: bold;
  padding: .25em .5em 0em .5em;
  border-radius: 0px 7px 7px 0px;
  color: #fff;
  float: left;
  margin: 0 .5em 0 0;
  z-index: 99 !important;
}
.mobile #focusmorph {
  font-size: 1.5em;
}
.mobile #focusmorph div {
  padding: 0em 0em .5em 0em;
}
#expression {
  font-size: 26px;
}
#meaning table {
  width: 100%;
}
#meaning th,
#meaning td {
  color: #fff;
  width: 50%;
}
#meaning td {
  font-size: 14px;
  vertical-align: top;
}
#image {
  width: 67%;
  max-width: 480px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  padding: 1.5em 1em 1.5em;
}
#image .jp {
  font-size: 18px;
}
#image i {
  color: #e1c388;
}
#image b {
  color: #f67273;
}

#meanings-button,
#readings-button,
#translation-button
#readings,
#en-meaning,
#translation
#notes {
  padding: .75em 4em .75em .75em;
}
#keyword h3 {
  margin-top: -20px;
}

#meanings-button h3,
#readings-button h3,
#translation-button h3,
#readings h3,
#en-meaning h3,
#notes h3,
#translation h3 {
  position: absolute;
  margin-top: -40px;
  right: 0;
  z-index: 5;
  background: #e1c388;
  padding: 10px 10px 7px;
  border-radius: 7px 0px 0px 7px;
}



.mobile #meanings-button h3,
.mobile #readings-button h3,
.mobile #translation-button h3,
.mobile #readings h3,
.mobile #en-meaning h3,
.mobile #notes h3 {
  margin-top: -20px;
}

#imageflag {
  height:1em;
  width:1em;
}

#expressionaudio {
  height:5em;
}

.front {
  color: cornflowerblue ;
  background-color: aliceblue;
  box-shadow: 12px 12px 12px -10px rgb(0, 0, 0);
  margin: auto;
}

.jp { }
.win .jp { font-family: "Meiryo"; }
.mac .jp { font-family: "mplus", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro"; }
.linux .jp { font-family: "Kochi Mincho", "東風明朝"; }
.mobile .jp { font-family: "Hiragino Mincho ProN"; }