@font-face {
	font-family: 'TellyFont';
	src:url('../fonts/TellyFont.eot?ykm4ut');
	src:url('../fonts/TellyFont.eot?#iefixykm4ut') format('embedded-opentype'),
		url('../fonts/TellyFont.woff?ykm4ut') format('woff'),
		url('../fonts/TellyFont.ttf?ykm4ut') format('truetype'),
		url('../fonts/TellyFont.svg?ykm4ut#TellyFont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'TellyFont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;