div.post {padding:15px;}

.menu-button i {
padding-right:10px;
margin-left:-6px;
margin-top:-2px;
margin-bottom:0px;
}

.catalog-stats .menu-button i {
opacity:0;
margin-left:7px;
}

.catalog-stats .menu-button i:hover {
opacity:1;
transition:.5s;
}

.catalog-stats {padding-left:28px;}

div.board {margin-top:-4px;
margin-bottom:-3px;}

.menu-button {
padding-right:4px;
}


.opContainer .postMessage {margin-bottom:-20px;}

.replyContainer {padding-right:32px;}
.thread {margin-left:6px;}

.opContainer.expanded-image div.postInfo {padding-left:20px;}

.opContainer.expanded-image .fileThumb {margin-bottom:13px;}

.replyContainer .fileThumb {padding-bottom:8px;}
.replyContainer div.post div.postInfo {padding-top:12px;}
.replyContainer.expanded-image .fileThumb {margin-bottom:9px;}
.replyContainer .postMessage {padding-bottom:9px;}

.rounded-edges .post {border-radius: 0px;}

//.postNum {padding-right:14px;}

//div.post div.postInfo {padding-right:14px;}

.post .menu-button, .hide-post-button {opacity:0;}

.backlink {margin-right:16px;}

//.postInfo > span {padding-right:16px;}
span.subject, span.nameBlock, span.dateTime, span.postNum.desktop {margin-right:16px;}

.postContainer.opContainer {margin-left:-9px;}

div.post div.postInfo div.rice {display:none!important}

.reply {border:0!important}
//a.settingsWindowLink {opacity:0!important}
//a#themeoptionsLink {opacity:0!important}
//div#imgControls {display:none!important}
div#stats {display:none!important}
div#watcher {display:none!important}
div#updater {display:none!important}
.favicon {display:none!important}
.toggleCatalog{display:none!important}
div#globalMessage {display:none!important}
div#globalMessage {display:none!important}
//.menu_button {display:none!important}
div.navLinks.desktop {display:none!important}
span#navlinks {display:none!important}
div.boardList {display:none!important}
span.boardList {display:none!important}
div.ad-plea {display:none!important}
div.ad-plea-top {display:none!important}
div.boardBanner {display:none!important}
div.mobileCatalogLink {display:none!important}
span.spoiler, s, s a, s:not(:hover) span.quote {background:none !important;}


span#custom-board-list {
position:relative!important;
bottom: 0px!important;
background: rgba(240,240,240,1.0);
padding-left:35px;
padding-right:35px;
margin-right:2px;
opacity:0;
}

#full-board-list {
background: rgba(240,240,240,1.0);
padding-left:0px;
padding-right:0px;
}

span#custom-board-list:hover {
opacity:1;
transition:.5s;
}


//.op {
display:block!important;
left: 4px!important;
}

div#header-bar {
border:none;
background: rgba(240,240,240,0.0);
margin-bottom:9px;
}

a.summary {
position:relative!important;
left: 20px!important;
}

//.thread {
position:relative!important;
left:-6px!important;
top:-0px!important;
}

.replyContainer .postInfo {
position:relative!important;
left:20px!important;
}

span.file-info {
position:relative!important;
left:16px!important;
display:none;
}

.fileText {
margin-left: 17px;
display:block;
}


.post.op.quoted .fileThumb {padding-top: 5px;}
.replyContainer .fileThumb {padding-top: 10px;}

.replyContainer div.post div.postInfo {padding-left: 0px;}


//.postMessage {
position:relative!important;
left:4px!important;
}


//.fileText {
position:relative!important;
left: 16px!important;
}

span#qr-extras-container {display:none!important}

div.pages {display:none!important}

STRONG.capcode.hand.id_mod {display:none!important}
.pages {text-decoration:none!important}
a.deadlink {text-decoration:none!important}
a.current {text-decoration:underline!important}

div.pagelist {
position:relative!important;
bottom: 4px!important;
display:none!important;
}

div.comment {height:50px;}


.catalog-mode .board {line-height:200%;}
div.board {line-height:200%;}

.catalog-thread > .comment {display:none!important;}


.menu-button {padding-right: 0px;}
//.menu-button i {display:none!important;}
//span#a-icons {padding-right:20px;}
span#a-stats {display:none!important;}
span#a-icons {opacity:0.75!important;}
span.page-num {display:none!important;}
.message {display:none!important;}
a.close.fa {display:none!important;}
div.credits {display:none!important;}
div.deleteform {display:none!important;}
img.closedIcon {display:none!important;}
img.stickyIcon {display:none!important;}
div.navLinks {display:none!important;}
STRONG.warning.fa {display:none!important;}
div.center {display:none!important;}
#blotter {display:none!important;}
div.desktop {display:none!important;}


body {
position: relative; 
top: -0px;
}

IMG.identityIcon.retina,
IMG.closedIcon.retina,
IMG.stickyIcon.retina,
IMG.identityIcon
{display:none!important;}

a {
-moz-text-decoration-color: rgb(51, 51, 51) !important;
text-shadow : 0px 0px 0px rgba(51, 51, 51, 0.0) !important;
}
a.selectedBoard {text-shadow : 0px 0px 0px rgba(51, 51, 51, 0.0) !important;}
div#boardLinks {text-shadow : 0px 0px 0px rgba(51, 51, 51, 0.0) !important;}

a.thumb {height:150px;}

img.catalog-thumb {  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0px;
box-shadow: 0 0 0px rgba(0, 0, 0, .25);}

  .catalog-small .catalog-thread {padding-bottom:20px;}