body {
    max-height: 100vh;
	background: #fff;
    position: relative;    
}
.mainCt .header {
    background: #fff;
    overflow: hidden;
    height: 118px;
}
.mainCt .footer {
	background: #fff;
    overflow: hidden;
    height: 118px;
}
.mainCt .content {
    background-size: cover;
    background-position: top center;
    height: 494px;
    position: relative;    
}
.mainCt .panel-group {
    margin-bottom: 6px;
    height: 120px;
    overflow: hidden;
}
.mainCt {
    max-height: 100vh;
    overflow: hidden;
    height: 730px;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 9999;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mainCt #staticDiv {
    margin-top: 374px;
}
.mainCt .panel-group .panel-title {
    margin: 0;
    height: 100px;
    line-height: 1.4;
    padding-top: 22px;
}

.mainCt .panel-group .panel-heading {
/*     padding: 0; */
    height: 120px;
}

@media(max-width:1025px){
.mainCt #staticDiv.panel-group .panel-title {
    padding-top: 10px;
}
}
@media(max-width:992px){
.mainCt #staticDiv .panel-title p {
    font-size: 26px;
}
.mainCt #staticDiv .panel-title {
    line-height: 1.4;
    padding-top: 22px;    
}  
.mainCt #staticDiv.panel-group .panel-title {
    padding-top: 5px;
}    
}
@media(max-width: 640px){
.header .ntth, .panel-title {
    font-size: 32px;
}
.mainCt #staticDiv .panel-title p {
    font-size: 20px;
}    
}
@media(max-width: 530px){
.header .ntth, .panel-title {
    font-size: 26px;
}
}
@media(max-width:420px){
.mainCt .panel-group .panel-title {
    padding-top: 25px;
}    
.header .ntth, .panel-title {
    font-size: 22px;
}
}
@media(max-height:750px){
.mainCt #staticDiv.panel-group .panel-title {
    padding-top: 0px;
}    
.mainCt #staticDiv {
    margin-top: 322px;
}    
.mainCt {
    height: 635px;
}    
.mainCt .footer,
.mainCt .header {
    height: 105px;
}
.mainCt .content {
    height: 425px;
} 
.mainCt .panel-group {
    margin-bottom: 5px;
    height: 103px;
}  
.mainCt .panel-group .panel-heading {
    height: 103px;
}
.mainCt .panel-group .panel-title {
    margin: 0;
    height: 103px;
    
}    
}