CSS:  /* Downloaded from https://www.codeseek.co/ */
body {background-color:#ffffff; margin:0px; font-family:Century Gothic, sans-serif; font-size:11px; color:#444444;}a{color:#9f9f9f; text-decoration:none; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s;}a:hover{color:#d47790; text-decoration:none; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s;}h1{font-family: 'Open Sans', sans-serif; font-size:15px;}#source{position:fixed; bottom:10px; right:10px; font-size:15px;}#sbbg{position:fixed; bottom:0px; left:0px; opacity:.7; z-index:-1;}#sbbg img{max-width:500px; height:auto;}#sidebar{position:fixed; margin-left:500px; margin-top:100px; width:250px; text-align:center;}#sidebarimg{width:240px; text-align:center; margin-top:0px; padding:5px; border:3px double #9f9f9f;}#sidebarimg img{max-width:235px;height:auto;}#title{padding-top:10px; font-family: 'Bad Script', cursive; font-size:18px; color:#ff8d8d; text-shadow: 1px 1px #9f9f9f;}#description{margin-top:-5px;font-size:9px;}#links{position:fixed; margin-top:120px; margin-left:756px;}#links a{display:inline-block; text-align:right; width:70px; height:12px; margin-top:2px; padding:2px; background:#ffe4e4;}#links a:hover {width:90px; color:#fff; background:#d47790; -moz-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s;



HTML: <!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ğ“¢ğ“¸ğ“µ</title>
   
   
   
      <link rel="stylesheet" href="css/style.css">
 
   
</head>
 
<body>
  <div id="source"><a href="http://xat.me/hauntzer">T</a></div>
 
<div id="sbbg"><img src="http://i65.tinypic.com/333e9tg.jpg" /></div>
 
<div id="sidebar"><div id="sidebarimg">
<img src="http://i67.tinypic.com/4q6dlh.jpg" /></div>
 
<div id="title" style="font-style:italics;">ğ“¢ğ“¸ğ“µ</div>
 
<div id="denopeion"><br />ğ—‡ğ–ºÌƒğ—ˆ ğ–½ğ–¾ğ—‚ğ—‘ğ–¾ ğ—Šğ—ğ–¾ ğ–º ğ—ğ—‹ğ—‚ğ—Œğ—ğ–¾ğ—“ğ–º ğ–½ğ—ˆ ğ—‰ğ–ºğ—Œğ—Œğ–ºğ–½ğ—ˆ ğ–¾ ğ—ˆ ğ—†ğ–¾ğ–½ğ—ˆ ğ–½ğ—ˆ ğ–¿ğ—ğ—ğ—ğ—‹ğ—ˆ ğ–ºğ–¼ğ–ºğ–»ğ–¾ ğ–¼ğ—ˆğ—† ğ–º ğ–¿ğ–¾ğ—…ğ—‚ğ–¼ğ—‚ğ–½ğ–ºğ–½ğ–¾ ğ–½ğ—ˆ ğ—†ğ—ˆğ—†ğ–¾ğ—‡ğ—ğ—ˆ.</div></div>
 
  <div id="links"><a href="http://xat.me/iNeverSanis">ğ“ğ“¶ğ“¸ğ“»</a><br /><a href="http://xat.me/BreziinhaGatinha">ğ“‘ğ“»e</a><br /><a href="http://xat.me/G4BR13L1995">ğ“‘ğ“²ğ“®ğ“µ</a>
   
   
</body>
</html>