

Metodo//PS Plus 14 dias

1.Navegador en modo incognito

2.IP: España

3.Tenemos que crear una cuenta ya sea gmail o hotmail o cualquier otro que no sea temporal

4.Vamos a https://www.paypal.com/es/home

5.Le damos crea una cuenta gratis/cuenta personal

6.Los datos van a poner:

Pais:Obviamente España por eso estamos en ip españa unu

Nombre:Lo que quieran

Apellido:Lo que quieran

Direccion de correo electronico:La que crearon anteriormente

Contraseña:Lo que quieran

Linea de direccion 1: Madrid

Cod. Postal: 28080

Ciudad: Madrid

Provincia: Madrid

Luego en numero de telefono:631752947

Fecha de nacimiento: 01/01/1990

Marcan la casilla de las condiciones de uso y esas weas

vuelven a entrar a https://www.paypal.com/es/home y ya estan logeados con la cuenta que crearon solo la confirman con el email que crearon anteriormente

(Asi nos saltamos lo de meter una tarjeta)

Aqui ya pueden apagar el vpn solo no se les olvide cambiar el pais a españa

Ahora vamos a https://www.playstation.com

Le damos iniciar sesion

crear cuenta nueva

pueden usar el mismo correo que crearon si quieren o usen temporales estos si se van con temporales es su eleccion u.u

contra ponen lo que quieran

Pais le ponen españa obviamente _-_

Idioma ps si hablan chino ponganle chino :v

Fecha de nacimiento la vieja confiable : 01/01/1990

Ciudad: Madrid

Estado/Provincia: Madrid	

Codigo P. : 28080

ID Online:Lo que quieran

Nombre y Apellido: Lo que quieran

les saldra una mamada solo le dan a seguir

Se pasan el recaptcha

Omiten todas las mamadas que pida despues de verificar la cuenta

y ps terminan la cuenta

ahora se van a configuracion de cuenta

le dan a monedero

agregar paypal

y ya esta la paypal agregada

ahora se van a https://store.playstation.com/es-es/product/IP9102-NPIA90006_01-PSPLUS14DAYTRIAL

le dan suscribirse, pedir y pagar y ya esta eso es todo