/*
WooCommerce, Checkout page
CSS to show the Your order table at the side of billing address, instead of underneath
Only works if you do not have a shipping address
eg ship only to billing address set, or you only sell virtual products
*/

.woocommerce-checkout #customer_details {float:left; max-width:550px; width:48%}
.woocommerce-checkout #customer_details .col-1 {width:100%}
.woocommerce-checkout #customer_details .col-2 {width:100%}
.woocommerce-checkout #order_review_heading {float:right; width:48%}
.woocommerce-checkout #order_review {float:right; width:48%}
.woocommerce-checkout #payment {float:right; width:100%}