<div class="separator" style="clear: both; text-align: left;">
<b><span style="font-family: Verdana, sans-serif; font-size: large;">Legenda:&nbsp;</span></b></div>
<span style="font-family: Verdana, sans-serif;"></span><br />
<div class="separator" style="clear: both; display: inline !important; text-align: center;">
</div>
<span style="font-family: Verdana, sans-serif;">
</span>
<br />
<div style="text-align: left;">
<span style="font-family: Verdana, sans-serif;"><a href="http://1.bp.blogspot.com/-MDXl7v7RXEw/VdN-ykioa9I/AAAAAAAAABg/bz_OynoLWec/s1600/bouton-clignotant-vert.gif" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://1.bp.blogspot.com/-MDXl7v7RXEw/VdN-ykioa9I/AAAAAAAAABg/bz_OynoLWec/s1600/bouton-clignotant-vert.gif" /></a>Ativo<a href="http://i.imgur.com/R72eaAj.gif" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://i.imgur.com/R72eaAj.gif" /></a>Ocupado<a href="http://1.bp.blogspot.com/-6rcE0WSpG5U/VdN-y37fKUI/AAAAAAAAABk/JjIdMaf5GIs/s1600/bouton-clignotant-rouge.gif" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="http://1.bp.blogspot.com/-6rcE0WSpG5U/VdN-y37fKUI/AAAAAAAAABk/JjIdMaf5GIs/s1600/bouton-clignotant-rouge.gif" /></a>Ausente</span></div>
<div style="text-align: left;">
<span style="font-family: Verdana, sans-serif;"><br /></span></div>
<br />
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-e3zv{font-weight:bold}
.tg .tg-4eph{background-color:#f9f9f9}
</style>

<br />
<table class="tg">
  <tbody>
<tr>
    <th class="tg-e3zv"><span style="font-family: Verdana, sans-serif;">Nome no chat</span></th>
    <th class="tg-e3zv"><div style="text-align: left;">
<span style="font-family: Verdana, sans-serif;">Regname</span></div>
</th>
    <th class="tg-e3zv"><div style="text-align: left;">
<span style="font-family: Verdana, sans-serif;">ID</span></div>
</th>

    <th class="tg-e3zv"><div style="text-align: left;">
<span style="font-family: Verdana, sans-serif;">Cargo</span></div>
</th>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Cupim</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Cupim</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">10000690</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Dono Principal</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Guinho</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Guinho</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">2300000</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Dono Principal</span></td>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Luig</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Luig</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">10000270</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Dono</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Scot</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Scot</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">112814</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Dono</span></td>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> SOAD</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">SOAD</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">1000056</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Dono</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Artemis</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">KarinaCobain</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">1372871486</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Moderador</span></td>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Bertin</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Bertin</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">360087506</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Moderador</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/X0QvVCm.gif" /> DuuU</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">DuuU</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">20015</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Moderador</span></td>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Gilson</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">GiLson</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">133330234</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Moderador</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Gunther</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">OlheiXonei</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">359999878</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Moderador</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> HollyWood</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">WoodHoLLy</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">530547080</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Moderador</span></td>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/R72eaAj.gif" />Jenni</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">JenHQ</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">386849943</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Moderador</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Danm</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Danm</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">1382981746</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Membro</span></td>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Ed</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">BeaterUser</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">404140826</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Membro</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Lucas</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Tchu</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">77868086</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Membro</span></td>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Marcelo</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">MarceLoFeLiz</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">1490380570</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Membro</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Mary</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">BecauseYes</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">1399767647</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Membro</span></td>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Matheus</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">SuperBoy</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">80929380</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Membro</span></td>
  </tr>
<tr>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/JAh2lvg.gif" /> Sr. Lucas</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">LucasangeLikaL</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">142948357</span></td>
    <td class="tg-031e"><span style="font-family: Verdana, sans-serif;">Membro</span></td>
  </tr>
<tr>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;"><img src="http://i.imgur.com/R72eaAj.gif" />Zyon</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Zyon</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">1189548968</span></td>
    <td class="tg-4eph"><span style="font-family: Verdana, sans-serif;">Membro</span></td>
  </tr>
</tbody></table>