@charset "UTF-8";
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden],
template {
    display: none
}

@media (max-width:480px) {
    .no-scroll {
        overflow: hidden
    }
    .no-scroll body {
        overflow: hidden;
        position: fixed;
        width: 100%
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

.hide {
    display: none!important
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden
}

#root {
    flex: 1 0 auto
}

.debug-black {
    background-color: rgba(0, 0, 0, .32)
}

.debug-blue {
    background-color: rgba(35, 145, 211, .32)
}

.debug-green {
    background-color: rgba(0, 200, 0, .32)
}

.debug-red {
    background-color: rgba(251, 8, 7, .32)
}

.debug-white {
    background-color: hsla(0, 0%, 100%, .32)
}

.debug-yellow {
    background-color: rgba(254, 191, 2, .32)
}

.debug * {
    outline: 1px solid rgba(251, 8, 7, .24)
}

.debug .debug-grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 1000;
    background: repeating-linear-gradient(rgba(251, 8, 7, .08), rgba(251, 8, 7, .08) 16px, transparent 0, transparent 24px)
}

.container {
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto
}

@media (min-width:920px) {
    .container {
        padding: 0;
        width: 872px
    }
}

@media (min-width:1201px) {
    .container {
        padding: 0;
        width: 1152px
    }
}

.container-md {
    margin: 0 auto;
    max-width: 919px
}

.container-sm {
    margin: 0 auto;
    max-width: 640px
}

.container-xs {
    margin: 0 auto;
    max-width: 480px
}

@media (min-width:480px) {
    .columns {
        display: flex
    }
}

.columns .column {
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    padding: 0 12px
}

@media (min-width:480px) {
    .columns .column:first-child {
        padding-left: 0
    }
    .columns .column:last-child {
        padding-right: 0
    }
}

@media (max-width:480px) {
    .columns .column {
        padding: 0
    }
}

.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around
}

.items .item {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 32px;
    border-bottom: 1px solid #f1f3f3;
    width: calc(50% - 12px * 2)
}

.items .item:nth-last-child(-n+2) {
    border-bottom: 0
}

@media (max-width:480px) {
    .items .item {
        width: 100%
    }
    .items .item:nth-last-child(2) {
        border-bottom: 1px solid #f1f3f3
    }
}

@media (min-width:920px) {
    .items .one-third {
        width: calc(33.3333% - 12px * 2)
    }
    .items .one-third:nth-last-child(-n+3) {
        border-bottom: 0
    }
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.text-bottom {
    margin-top: auto
}

hr {
    margin-top: 40px;
    margin-bottom: 56px;
    border: 0;
    border-top: 1px solid #f1f3f3
}

hr.break,
hr.break-sm {
    border-color: transparent
}

hr.break-sm {
    margin-top: 24px;
    margin-bottom: 24px
}

.legal .licenses,
.list-unstyled {
    list-style: none;
    padding: 0
}

ul.checkmarks {
    margin-bottom: 24px;
    padding-left: 0
}

ul.checkmarks li {
    list-style-type: none;
    margin-bottom: 16px;
    background-image: url(/p/img/icon-check.svg);
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 32px
}

.intro-image {
    margin-bottom: 40px
}

.intro-image svg {
    width: 80%;
    height: 100%
}

.intro-image-cover {
    max-width: 1600px;
    height: 560px;
    margin: 0 auto 64px;
    background-size: cover;
    background-position: 50%
}

@media (max-width:480px) {
    .intro-image-cover {
        height: 240px
    }
}

.feature-image {
    margin-bottom: 24px
}

.tabs {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px
}

.tabs a {
    display: inline-block;
    color: #272b2d;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 600;
    font-size: 12px;
    padding: 0 24px;
    margin: 0 4px;
    border-radius: 16px
}

.tabs a.active {
    background: #f1f3f3
}

.tabs a:hover {
    text-decoration: none
}

@media (max-width:480px) {
    .tabs a {
        display: block;
        margin: 8px 0
    }
}

.btn {
    display: inline-block;
    padding: 0 32px;
    color: #fff;
    background-color: #8d989f;
    max-width: 100%;
    height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    line-height: 48px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
    transition: all .24s
}

.btn.btn-block {
    width: 100%
}

.btn.focus,
.btn:focus,
.btn:hover {
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2)
}

.btn.no-capital {
    text-transform: none
}

* {
    box-sizing: border-box
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #494f53;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

p {
    margin-top: 0;
    margin-bottom: 16px
}

a {
    text-decoration: none;
    color: #2391d3
}

a:hover {
    text-decoration: underline
}

b,
h1,
strong {
    font-weight: 600
}

h1 {
    color: #a8b1b6;
    text-align: center;
    font-size: 32px;
    margin-top: 56px;
    margin-bottom: 8px
}

@media (max-width:480px) {
    h1 {
        font-size: 24px;
        margin-top: 16px
    }
}

h2 {
    color: #272b2d;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: 24px
}

@media (max-width:480px) {
    h2 {
        font-size: 24px;
        margin-top: 72px;
        margin-bottom: 16px;
        text-align: left
    }
}

h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 0
}

.tagline,
h3 {
    color: #272b2d
}

.tagline {
    font-size: 48px;
    line-height: 56px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 72px
}

@media (max-width:480px) {
    .tagline {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 48px
    }
}

.extra-large {
    color: #272b2d;
    font-size: 56px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 8px
}

.large {
    color: #272b2d;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 56px
}

@media (max-width:480px) {
    .large {
        margin-bottom: 24px
    }
}

.small {
    font-size: 12px;
    font-weight: 400;
    color: #8d989f
}

.small a {
    text-decoration: underline;
    color: #8d989f
}

.small a:hover {
    text-decoration: none;
    color: #6b7479
}

.text-transform-initial {
    text-transform: none
}

.text-black {
    color: #000
}

.text-blue {
    color: #2391d3
}

.text-gray {
    color: #8d989f
}

.text-green {
    color: #00c800
}

.text-red {
    color: #fb0807
}

.text-white {
    color: #fff
}

.text-yellow {
    color: #febf02
}

.bg-black {
    background-color: #000
}

.bg-blue {
    background-color: #2391d3
}

.bg-gray {
    background-color: #8d989f
}

.bg-green {
    background-color: #00c800
}

.bg-red {
    background-color: #fb0807
}

.bg-white {
    background-color: #fff
}

.bg-yellow {
    background-color: #febf02
}

.svg-black path {
    fill: #000
}

.svg-blue path {
    fill: #2391d3
}

.svg-gray path {
    fill: #8d989f
}

.svg-green path {
    fill: #00c800
}

.svg-red path {
    fill: #fb0807
}

.svg-white path {
    fill: #fff
}

.svg-yellow path {
    fill: #febf02
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav a {
    color: #494f53;
    transition: all .08s
}

.nav a:hover {
    color: #111213
}

.nav .nav-group {
    display: flex;
    align-items: center
}

.nav .nav-item {
    display: flex;
    margin: 0 32px;
    line-height: 16px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none
}

@media (min-width:640px) and (max-width:919px) {
    .nav .nav-item {
        margin: 0 24px
    }
}

.nav .nav-item:first-child {
    margin-left: 0
}

.nav .nav-item:last-child {
    margin-right: 0
}

.header {
    height: 64px
}

.header .header-item-close,
.header .header-item-menu {
    display: none
}

.header svg path {
    fill: #494f53
}

.header svg:hover path {
    fill: #111213
}

.header .nav-login {
    color: #2391d3
}

.header .nav-login:hover {
    color: #1b6ea0
}

@media (max-width:919px) {
    .header {
        flex-direction: column;
        overflow-x: hidden
    }
    .header.header-fullscreen .header-group-top {
        position: fixed;
        top: 24px
    }
    .header.header-fullscreen .header-group-show {
        transform: translateX(0);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0
    }
    .header.header-fullscreen .header-item-close {
        display: flex
    }
    .header.header-fullscreen .header-item-menu {
        display: none!important
    }
    .header .header-item-logo {
        padding: 16px 0
    }
    .header .header-group {
        justify-content: space-between;
        height: 64px;
        width: 100%;
        z-index: 101
    }
    .header .header-group-menu {
        position: fixed;
        height: 100%;
        width: 100%;
        padding: 0 48px;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        background: #fff;
        transform: translateX(110%);
        transition: transform .4s cubic-bezier(.19, 1, .22, 1)
    }
    .header .header-group-menu .nav-item {
        text-transform: none!important;
        font-size: 32px;
        font-weight: 300;
        line-height: 40px;
        padding: 16px 0;
        margin: 0
    }
    .header .nav-item {
        margin: 0
    }
    .header .nav-item.header-item-close,
    .header .nav-item.header-item-menu {
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        user-select: none
    }
    .header .nav-item.header-item-close svg,
    .header .nav-item.header-item-menu svg {
        margin-left: auto
    }
    .header .nav-item.header-item-menu {
        display: flex
    }
}

.footer {
    background-color: #fff;
    border-top: 1px solid #f1f3f3;
    margin-top: 160px;
    min-height: 180px;
    flex-direction: column;
    padding: 40px 0 48px
}

.footer .footer-item-small {
    display: none
}

.footer svg path {
    fill: #494f53
}

.footer svg:hover path {
    fill: #111213
}

.footer .copyright {
    text-transform: none;
    font-weight: 400
}

.footer .nav-group {
    margin: 16px 0
}

.footer .footer-icons {
    height: 32px
}

@media (max-width:480px) {
    .footer {
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: flex-start;
        margin-top: 40px;
        padding: 16px 0 32px
    }
    .footer .footer-group {
        flex-direction: column;
        width: 160px
    }
    .footer .footer-group .nav-item:first-child {
        margin-left: 24px
    }
    .footer .footer-group .nav-item:last-child {
        margin-right: 24px
    }
    .footer .footer-item-wide {
        display: none
    }
    .footer .footer-item-small {
        text-align: center;
        width: 100%;
        display: initial
    }
    .footer .nav-item {
        margin: 0 24px
    }
}

@media (max-width:480px) {
    .hidden-xs {
        display: none
    }
}

.index,
.index body {
    overflow-x: hidden
}

.index h2 {
    text-align: left
}

.index .tagline {
    font-size: 72px;
    line-height: 80px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 48px
}

@media (max-width:480px) {
    .index .tagline {
        font-size: 48px;
        line-height: 56px;
        margin-top: 40px;
        margin-bottom: 40px
    }
}

.index .cta {
    margin-bottom: 24px;
    min-width: 240px
}

@media (max-width:480px) {
    .index .cta {
        margin-top: 32px;
        margin-bottom: 16px
    }
}

@media (max-width:480px) {
    .index .disclaimer {
        width: 240px;
        margin: 0 auto
    }
}

.index .chat>.column,
.index .two-in-one>.column {
    min-width: 50%
}

@media (min-width:920px) {
    .index .chat>.column,
    .index .two-in-one>.column {
        min-width: 33%
    }
}

.index .chat {
    margin: 160px 0 120px;
    align-items: center
}

@media (max-width:480px) {
    .index .chat {
        margin: 56px 0
    }
}

@media (min-width:920px) {
    .index .x2 {
        flex-grow: 2
    }
}

@media (min-width:640px) and (max-width:919px) {
    .index .x2 {
        flex-grow: 1
    }
}

.index .calls {
    margin: 160px 0
}

@media (max-width:480px) {
    .index .calls {
        margin: 40px 0;
        flex-direction: column-reverse;
        display: flex
    }
    .index .calls .column {
        flex-basis: auto;
        width: 100%
    }
}

.index .team {
    margin: 160px 0
}

@media (max-width:480px) {
    .index .team {
        margin: 40px 0;
        flex-direction: column-reverse;
        display: flex
    }
    .index .team .column {
        flex-basis: auto;
        width: 100%
    }
}

.index .chat-ui {
    width: 60vw
}

@media (max-width:480px) {
    .index .chat-ui {
        width: 100vw;
        margin-top: 16px
    }
}

.index .call-ui {
    max-width: 100%;
    padding-right: 40px
}

@media (min-width:640px) and (max-width:919px) {
    .index .call-ui {
        padding-right: 0
    }
}

@media (max-width:480px) {
    .index .call-ui {
        max-width: 120%;
        margin-left: -10%;
        padding-right: 0
    }
}

.index .multiaccount-ui {
    width: 60vw
}

@media (max-width:480px) {
    .index .multiaccount-ui {
        width: 112vw;
        margin-left: -10vw;
        margin-top: -16px
    }
}

.index .team-ui {
    max-width: 72%;
    padding-right: 80px
}

@media (min-width:640px) and (max-width:919px) {
    .index .team-ui {
        padding-right: 0
    }
}

@media (max-width:480px) {
    .index .team-ui {
        max-width: 100%;
        padding-right: 0;
        margin-top: 16px
    }
}

.index .text-column {
    display: flex;
    align-items: center;
    padding-right: 80px
}

@media (min-width:640px) and (max-width:919px) {
    .index .text-column {
        padding-right: 32px
    }
}

@media (max-width:480px) {
    .index .text-column {
        padding-right: 0
    }
}

.index .text-column h2 {
    margin-top: 0
}

.index .image-column-right {
    text-align: left;
    overflow: visible;
    padding-left: 80px
}

@media (min-width:640px) and (max-width:919px) {
    .index .image-column-right {
        padding-left: 32px
    }
}

@media (max-width:480px) {
    .index .image-column-right {
        padding: 0
    }
}

.index .image-column-left {
    text-align: center
}

@media (min-width:920px) {
    .index .image-column-left {
        text-align: center
    }
}

.index .with-shadow {
    box-shadow: 0 16px 48px 0 rgba(0, 0, 0, .32);
    border-radius: 8px
}

@media (max-width:480px) {
    .index .with-shadow {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .32);
        border-radius: 4px
    }
}

.index .compare {
    margin-top: 120px;
    margin-bottom: 120px
}

.index .compare h2 {
    text-align: center
}

@media (max-width:480px) {
    .index .compare {
        margin-top: 56px;
        margin-bottom: 56px
    }
}

@media (min-width:480px) {
    .index section .column {
        width: 50%
    }
}

.about .intro-image-cover {
    background-image: url(https://upontalk.com/kalina/cover-about.jpg)
}

.about .contacts div {
    display: flex;
    flex-direction: column
}

.about .contacts div p:last-child {
    margin-top: auto
}

.about .avatar {
    flex-grow: inherit;
    padding-right: 32px;
    position: relative
}

.about .avatar img {
    width: 120px;
    border-radius: 50%
}

@media (max-width:480px) {
    .about .avatar img {
        width: 64px;
        margin-bottom: 8px
    }
}

.about .about-thumbnail {
    margin-top: 16px;
    max-width: 100%
}

.about .about-logo {
    display: flex;
    justify-content: center;
    border: 1px solid #f1f3f3;
    border-radius: 4px;
    padding: 64px;
    margin: 32px 0
}

.about .about-logo svg {
    width: 171px;
    height: 54px
}

.about .impressum {
    margin-top: 40px
}

@media (max-width:480px) {
    .about .impressum {
        margin-top: 24px;
        text-align: left
    }
}

.about .maps .column {
    padding: 0 4px
}

@media (max-width:480px) {
    .about .maps .column {
        padding: 0
    }
}

.about .map {
    width: 100%;
    height: 400px;
    margin-top: 8px;
    margin-bottom: 16px
}

@media (max-width:480px) {
    .about .map {
        height: 240px;
        margin-top: 24px;
        margin-bottom: 8px
    }
}

.download svg path {
    fill: #494f53
}

.download .btn {
    display: block;
    max-width: 320px;
    margin: 32px auto 16px
}

.download .download-big svg {
    width: 64px;
    height: 64px
}

.download .download-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #494f53
}

.download .download-link:hover {
    text-decoration: none;
    color: #272b2d
}

.download .download-link:hover svg path {
    fill: #272b2d
}

.download .platform {
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 8px
}

@media (max-width:480px) {
    .download .platform {
        margin-top: 8px
    }
}

.download .or {
    text-align: center;
    font-size: 32px;
    border-bottom: 1px solid #f1f3f3;
    line-height: 0;
    margin: 80px 0
}

.download .or span {
    background-color: #fff;
    padding: 0 24px
}

@media (max-width:480px) {
    .download .or {
        margin: 56px 0
    }
}

.download .details {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 640px;
    max-width: 100%;
    max-height: 100%;
    padding: 36px;
    box-shadow: 0 24px 64px 0 rgba(0, 0, 0, .16);
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto
}

@media (max-width:480px) {
    .download .details {
        padding: 24px;
        height: 100%;
        z-index: 500
    }
}

.download .details h2 {
    font-size: 24px;
    text-align: left;
    margin-top: 0
}

.download .details p {
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #f1f3f3;
    padding: 12px 0;
    margin: 0
}

.download .details p:last-child {
    border-bottom: 0
}

.download .details p a,
.download .details p span {
    font-weight: 600
}

.download .details .close {
    position: absolute;
    top: 24px;
    right: 24px
}

.download .details .close svg {
    width: 24px;
    height: 24px
}

.download .details .close svg:hover path {
    fill: #272b2d
}

.download .details-content {
    width: 100%;
    word-wrap: break-word
}

@media (max-width:480px) {
    .download .columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }
}

@media (max-width:480px) {
    .download .column {
        flex-basis: 50%;
        margin-bottom: 24px
    }
}

.download .close,
.download .details-link {
    cursor: pointer
}

.features .cta {
    margin-top: 40px;
    margin-bottom: 32px
}

@media (max-width:480px) {
    .features h2 {
        text-align: center
    }
}

.pricing .plan-overview .plan-action {
    margin-bottom: 16px
}

.pricing .plan-overview .plan-details {
    color: #8d989f;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding: 0 16px
}

@media (max-width:480px) {
    .pricing .plan-overview .plan-details {
        height: inherit
    }
}

.pricing .plan-overview .plan {
    padding: 24px 8px
}

@media (max-width:480px) {
    .pricing .plan-overview .plan {
        border-radius: 8px;
        border: 2px solid #f1f3f3;
        position: relative;
        margin-bottom: 24px
    }
}

.pricing .plan-overview .plan.plan-featured {
    border-radius: 8px;
    border: 2px solid #f1f3f3;
    position: relative;
    margin-bottom: 24px
}

.pricing .plan-overview .plan.plan-featured:before {
    align-items: center;
    display: flex;
    color: #fff;
    content: attr(data-pricing-plan-featured);
    font-weight: 600;
    line-height: 20px;
    background: #00c800;
    border-radius: 50%;
    border: 16px solid #fff;
    position: absolute;
    right: -46px;
    top: -46px;
    height: 80px;
    width: 80px;
    padding: 8px
}

@media (max-width:480px) {
    .pricing .plan-overview .plan.plan-featured:before {
        font-size: 12px;
        line-height: 16px;
        border: 8px solid #fff;
        right: -24px;
        top: -24px;
        height: 56px;
        width: 56px;
        padding: 8px
    }
}

.pricing .plan-overview .plan-name {
    font-size: 24px
}

.pricing .plan-overview .plan-features {
    padding: 0;
    margin-bottom: 8px
}

.pricing .plan-overview .plan-features li {
    list-style-type: none;
    margin: 12px
}

@media (max-width:480px) {
    .pricing .plan-overview .plan-features li {
        margin: 8px
    }
}

.pricing .plan-contact {
    margin-top: 80px;
    margin-bottom: 40px
}

@media (max-width:480px) {
    .pricing .plan-contact {
        margin-bottom: 0
    }
}

.security .overview {
    border-radius: 8px;
    border: 2px solid #f1f3f3;
    position: relative;
    margin: 56px auto 120px;
    padding: 24px 24px 8px
}

@media (max-width:480px) {
    .security h2 {
        text-align: center
    }
}

.security .download-pdf {
    display: flex;
    align-items: center
}

.security .download-pdf svg {
    margin-right: 12px
}

.security .download-pdf svg path {
    fill: #8d989f
}

.security .transparency {
    margin-bottom: 120px
}

.compare .tabcontent {
    display: none
}

.compare .tabcontent.active {
    display: block
}

.compare .responsive-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px
}

@media (min-width:920px) {
    .compare .responsive-table {
        font-size: 16px;
        line-height: 24px
    }
}

.compare .responsive-table thead {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden
}

@media (min-width:480px) {
    .compare .responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto
    }
}

.compare .responsive-table thead th {
    font-weight: 300;
    text-align: center
}

.compare .responsive-table tbody,
.compare .responsive-table td,
.compare .responsive-table th,
.compare .responsive-table tr {
    display: block;
    text-align: left;
    white-space: normal;
    border-bottom: 1px solid #f1f3f3;
    padding: 12px 0
}

@media (max-width:480px) {
    .compare .responsive-table tbody,
    .compare .responsive-table td,
    .compare .responsive-table th,
    .compare .responsive-table tr {
        border-bottom: 0;
        padding: 0;
        line-height: 24px
    }
    .compare .responsive-table tbody img,
    .compare .responsive-table td img,
    .compare .responsive-table th img,
    .compare .responsive-table tr img {
        width: 12px
    }
}

@media (min-width:480px) {
    .compare .responsive-table tr {
        display: table-row
    }
}

.compare .responsive-table td,
.compare .responsive-table th {
    vertical-align: middle
}

@media (min-width:480px) {
    .compare .responsive-table td,
    .compare .responsive-table th {
        display: table-cell
    }
    .compare .responsive-table td:first-child,
    .compare .responsive-table th:first-child {
        width: 200px
    }
}

.compare .responsive-table th {
    font-weight: 600
}

@media (min-width:480px) {
    .compare .responsive-table tbody {
        display: table-row-group
    }
}

.compare .responsive-table tbody tr {
    margin-bottom: 1em
}

@media (min-width:480px) {
    .compare .responsive-table tbody tr {
        display: table-row;
        border-width: 1px
    }
}

.compare .responsive-table tbody tr:last-of-type {
    margin-bottom: 0
}

@media (min-width:480px) {
    .compare .responsive-table tbody th[scope=row] {
        text-align: left
    }
}

.compare .responsive-table tbody td {
    text-align: right
}

@media (min-width:480px) {
    .compare .responsive-table tbody td {
        text-align: center
    }
}

.compare .responsive-table tbody td[data-type=currency] {
    text-align: right
}

.compare .responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left
}

@media (min-width:480px) {
    .compare .responsive-table tbody td[data-title]:before {
        content: none
    }
}

.create-team .cta {
    margin-top: 32px;
    margin-bottom: 16px
}

.jobs .footer {
    margin-top: 0
}

.jobs .intro-image-cover {
    background-image: url(/p/img/cover-jobs.jpg);
    position: relative
}

.jobs .with-copyright:before {
    content: attr(data-copyright);
    font-size: 9px;
    font-weight: 600;
    color: #fff;
    opacity: .64;
    position: absolute;
    bottom: 8px;
    left: 16px
}

.jobs .jobs-contact {
    display: flex;
    align-items: center;
    margin-bottom: 120px
}

.jobs .jobs-contact .photo {
    width: 88px;
    height: 88px;
    margin-right: 24px;
    padding: 0;
    border-radius: 50%;
    background-image: url(https://upontalk.com/kalina/natalia-dorozala.jpg)
}

.jobs .jobs-gallery {
    max-width: 1600px;
    margin: 120px auto 0
}

.jobs .photo {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 50%;
    margin-top: 1px
}

.jobs .photo,
.jobs .photo:last-child {
    margin-right: 1px
}

.jobs .photo.photo-third {
    padding-bottom: 32%
}

@media (max-width:480px) {
    .jobs .photo.photo-third {
        padding-bottom: 80%
    }
}

.jobs .photo.photo-1 {
    background-image: url(https://upontalk.com/kalina/jobs-photo-1.jpg)
}

.jobs .photo.photo-2 {
    background-image: url(https://upontalk.com/kalina/jobs-photo-2.jpg)
}

.jobs .photo.photo-3 {
    background-image: url(https://upontalk.com/kalina/jobs-photo-3.jpg)
}

.jobs .photo.photo-4 {
    background-image: url(https://upontalk.com/kalina/jobs-photo-4.jpg)
}

.jobs .photo.photo-5 {
    background-image: url(https://upontalk.com/kalina/jobs-photo-5.jpg)
}

.jobs .photo.photo-6 {
    background-image: url(https://upontalk.com/kalina/jobs-photo-6.jpg)
}

.jobs .photo.photo-7 {
    background-image: url(https://upontalk.com/kalina/jobs-photo-7.jpg)
}

.legal ul {
    padding-left: 0;
    list-style: none
}

.legal li {
    padding-left: 0;
    text-indent: -12px;
    margin-bottom: 8px
}

.legal li:before {
    content: "• ";
    color: #a8b1b6;
    position: relative;
    left: -8px
}

@media (max-width:480px) {
    .legal li:before {
        left: -4px
    }
}

.legal .tabs {
    margin-top: 112px;
    margin-bottom: 64px
}

@media (max-width:480px) {
    .legal .tabs {
        margin-top: 56px;
        margin-bottom: 32px
    }
}

.legal .tab-pane {
    display: none
}

.legal .tab-pane.active {
    display: block
}

.legal .licenses .small,
.legal .licenses .small a {
    color: #a8b1b6
}

.legal .timestamp {
    margin-top: 32px;
    margin-bottom: 32px
}

.legal .legal-link,
.legal .legal-paragraph {
    margin-left: -44px
}

.legal .legal-link p,
.legal .legal-paragraph p {
    margin-left: 44px
}

@media (max-width:480px) {
    .legal .legal-link,
    .legal .legal-link p,
    .legal .legal-paragraph,
    .legal .legal-paragraph p {
        margin-left: 0
    }
}

.legal small {
    display: inline-block;
    width: 24px;
    margin-right: 16px;
    text-align: right;
    font-weight: 600;
    font-size: 12px;
    color: #a8b1b6
}

@media (max-width:480px) {
    .legal small {
        text-align: left;
        width: 16px;
        margin-right: 8px
    }
}