body{
	background-color : orange;
}

#main{
	width : 800px;
	margin: 0 auto; 
	background-color : white;
	padding : 5px;
}

h1{
	color : red;
	text-decoration : underline;
	text-align : center;
}

table{
	margin: 0 auto; 
}

table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
	padding : 5px;
}

.preference{
	text-align : center;
}