[root@cloud cp]# cat /etc/nginx/sites-enabled/number1plates.pspreview.com.include
# A PHP Webapp
root /home/number1platespsp/public_html/wordpress;
index index.php index.html index.htm;

include /home/number1platespsp/public_html/cp/restrictions.conf;
include /home/number1platespsp/public_html/cp/redirects.conf;
include /home/number1platespsp/public_html/cp/wordpress.conf;

location / {

try_files $uri $uri/ /index.php$is_args$args;
}

location ~ ^/pingphpfpm$ {
include /etc/nginx/fastcgi_params*;
fastcgi_pass unix:/opt/cpanel/ea-php56/root/var/run/number1platespsp.sock;
}

location ~ \.php$ {

try_files $uri =404;
fastcgi_pass unix:/opt/cpanel/ea-php56/root/var/run/number1platespsp.sock;
fastcgi_index index.php;
include /etc/nginx/fastcgi_params*;

}

include /etc/nginx/conf.d/cpanel_services.conf;