server {
    listen 80;
    server_name clever-singing.com;

    location / {
        return 301 https://$host$request_uri;
    }

    location ~ /.well-known/ {
        root /srv/letsencrypt;
    }
}

server {
    listen 443 ssl;
    server_name clever-singing.com;

    ssl_certificate         /etc/letsencrypt/live/clever-singing.com/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/clever-singing.com/privkey.pem;
    ssl_client_certificate  /etc/letsencrypt/live/clever-singing.com/chain.pem;

    location = /favicon.ico { access_log off; log_not_found off; }

    location /static/program.js {
        alias /opt/audio/static/dist/bundle.js;
    }

    location /static {
        alias /opt/web/clever_singing/run/static;
        expires 7d;
    }

    location /media {
        alias /opt/web/clever_singing/run/media;
    }

    location /private {
        internal;
        alias /opt/web/clever_singing/run/private_media;
    }

    location /robots.txt {
            alias /opt/web/clever_singing/run/robots.txt;
    }

    location / {
        proxy_pass      http://127.0.0.1:8000;

        proxy_set_header   Host              $http_host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
    }

    location /eq {
        alias /opt/web/clever_singing/run/eq;
    }

    location /freq {
        alias /opt/web/clever_singing/run/freq;
    }

    location /testground/media {
        alias /opt/testground/input;
    }
    location /testground {
        alias /opt/testground/output;
    }
    location /design {
        alias /opt/web/clever_singing/run/design;
    }

}