$bg-color: #333;
$font-color: white;
$icon-size: 30px;
$primary-color: #008ed6;
$dark-overlay: rgba(0,0,0,0.7);

body {
    background: $bg-color;
    color: $font-color;
}

.navbar {
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;
}

#home-section {
    background: url('../img/home.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;

    .home-inner {
        padding-top: 150px;
    }

    .dark-overlay {
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px;
    }

    .card-form {
        opacity: 0.8;
    }

    .fa {
        color: $primary-color;
        background: white;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}

#explore-section,
#share-section {
    .fa {
        color: white;
        background: $bg-color;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}

#create-section {
    .fa {
        color: $primary-color;
        background: white;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}