
.padding-top-1rem {
  padding-top: 1 rem; }

@media screen and (min-width: 40em) {
  .padding-top-1rem-medium {
    padding-top: 1 rem; } }

@media screen and (min-width: 64em) {
  .padding-top-1rem-large {
    padding-top: 1 rem; } }

@media screen and (min-width: 75em) {
  .padding-top-1rem-xlarge {
    padding-top: 1 rem; } }

.margin-top-1rem {
  padding-top: 1 rem; }

@media screen and (min-width: 40em) {
  .margin-top-1rem-medium {
    padding-top: 1 rem; } }

@media screen and (min-width: 64em) {
  .margin-top-1rem-large {
    padding-top: 1 rem; } }

@media screen and (min-width: 75em) {
  .margin-top-1rem-xlarge {
    padding-top: 1 rem; } }

.padding-top-2rem {
  padding-top: 2 rem; }

@media screen and (min-width: 40em) {
  .padding-top-2rem-medium {
    padding-top: 2 rem; } }

@media screen and (min-width: 64em) {
  .padding-top-2rem-large {
    padding-top: 2 rem; } }

@media screen and (min-width: 75em) {
  .padding-top-2rem-xlarge {
    padding-top: 2 rem; } }

.margin-top-2rem {
  padding-top: 2 rem; }

@media screen and (min-width: 40em) {
  .margin-top-2rem-medium {
    padding-top: 2 rem; } }

@media screen and (min-width: 64em) {
  .margin-top-2rem-large {
    padding-top: 2 rem; } }

@media screen and (min-width: 75em) {
  .margin-top-2rem-xlarge {
    padding-top: 2 rem; } }

.padding-top-3rem {
  padding-top: 3 rem; }

@media screen and (min-width: 40em) {
  .padding-top-3rem-medium {
    padding-top: 3 rem; } }

@media screen and (min-width: 64em) {
  .padding-top-3rem-large {
    padding-top: 3 rem; } }

@media screen and (min-width: 75em) {
  .padding-top-3rem-xlarge {
    padding-top: 3 rem; } }

.margin-top-3rem {
  padding-top: 3 rem; }

@media screen and (min-width: 40em) {
  .margin-top-3rem-medium {
    padding-top: 3 rem; } }

@media screen and (min-width: 64em) {
  .margin-top-3rem-large {
    padding-top: 3 rem; } }

@media screen and (min-width: 75em) {
  .margin-top-3rem-xlarge {
    padding-top: 3 rem; } }

.padding-top-4rem {
  padding-top: 4 rem; }

@media screen and (min-width: 40em) {
  .padding-top-4rem-medium {
    padding-top: 4 rem; } }

@media screen and (min-width: 64em) {
  .padding-top-4rem-large {
    padding-top: 4 rem; } }

@media screen and (min-width: 75em) {
  .padding-top-4rem-xlarge {
    padding-top: 4 rem; } }

.margin-top-4rem {
  padding-top: 4 rem; }

@media screen and (min-width: 40em) {
  .margin-top-4rem-medium {
    padding-top: 4 rem; } }

@media screen and (min-width: 64em) {
  .margin-top-4rem-large {
    padding-top: 4 rem; } }

@media screen and (min-width: 75em) {
  .margin-top-4rem-xlarge {
    padding-top: 4 rem; } }

.padding-right-1rem {
  padding-right: 1 rem; }

@media screen and (min-width: 40em) {
  .padding-right-1rem-medium {
    padding-right: 1 rem; } }

@media screen and (min-width: 64em) {
  .padding-right-1rem-large {
    padding-right: 1 rem; } }

@media screen and (min-width: 75em) {
  .padding-right-1rem-xlarge {
    padding-right: 1 rem; } }

.margin-right-1rem {
  padding-right: 1 rem; }

@media screen and (min-width: 40em) {
  .margin-right-1rem-medium {
    padding-right: 1 rem; } }

@media screen and (min-width: 64em) {
  .margin-right-1rem-large {
    padding-right: 1 rem; } }

@media screen and (min-width: 75em) {
  .margin-right-1rem-xlarge {
    padding-right: 1 rem; } }

.padding-right-2rem {
  padding-right: 2 rem; }

@media screen and (min-width: 40em) {
  .padding-right-2rem-medium {
    padding-right: 2 rem; } }

@media screen and (min-width: 64em) {
  .padding-right-2rem-large {
    padding-right: 2 rem; } }

@media screen and (min-width: 75em) {
  .padding-right-2rem-xlarge {
    padding-right: 2 rem; } }

.margin-right-2rem {
  padding-right: 2 rem; }

@media screen and (min-width: 40em) {
  .margin-right-2rem-medium {
    padding-right: 2 rem; } }

@media screen and (min-width: 64em) {
  .margin-right-2rem-large {
    padding-right: 2 rem; } }

@media screen and (min-width: 75em) {
  .margin-right-2rem-xlarge {
    padding-right: 2 rem; } }

.padding-right-3rem {
  padding-right: 3 rem; }

@media screen and (min-width: 40em) {
  .padding-right-3rem-medium {
    padding-right: 3 rem; } }

@media screen and (min-width: 64em) {
  .padding-right-3rem-large {
    padding-right: 3 rem; } }

@media screen and (min-width: 75em) {
  .padding-right-3rem-xlarge {
    padding-right: 3 rem; } }

.margin-right-3rem {
  padding-right: 3 rem; }

@media screen and (min-width: 40em) {
  .margin-right-3rem-medium {
    padding-right: 3 rem; } }

@media screen and (min-width: 64em) {
  .margin-right-3rem-large {
    padding-right: 3 rem; } }

@media screen and (min-width: 75em) {
  .margin-right-3rem-xlarge {
    padding-right: 3 rem; } }

.padding-right-4rem {
  padding-right: 4 rem; }

@media screen and (min-width: 40em) {
  .padding-right-4rem-medium {
    padding-right: 4 rem; } }

@media screen and (min-width: 64em) {
  .padding-right-4rem-large {
    padding-right: 4 rem; } }

@media screen and (min-width: 75em) {
  .padding-right-4rem-xlarge {
    padding-right: 4 rem; } }

.margin-right-4rem {
  padding-right: 4 rem; }

@media screen and (min-width: 40em) {
  .margin-right-4rem-medium {
    padding-right: 4 rem; } }

@media screen and (min-width: 64em) {
  .margin-right-4rem-large {
    padding-right: 4 rem; } }

@media screen and (min-width: 75em) {
  .margin-right-4rem-xlarge {
    padding-right: 4 rem; } }

.padding-bottom-1rem {
  padding-bottom: 1 rem; }

@media screen and (min-width: 40em) {
  .padding-bottom-1rem-medium {
    padding-bottom: 1 rem; } }

@media screen and (min-width: 64em) {
  .padding-bottom-1rem-large {
    padding-bottom: 1 rem; } }

@media screen and (min-width: 75em) {
  .padding-bottom-1rem-xlarge {
    padding-bottom: 1 rem; } }

.margin-bottom-1rem {
  padding-bottom: 1 rem; }

@media screen and (min-width: 40em) {
  .margin-bottom-1rem-medium {
    padding-bottom: 1 rem; } }

@media screen and (min-width: 64em) {
  .margin-bottom-1rem-large {
    padding-bottom: 1 rem; } }

@media screen and (min-width: 75em) {
  .margin-bottom-1rem-xlarge {
    padding-bottom: 1 rem; } }

.padding-bottom-2rem {
  padding-bottom: 2 rem; }

@media screen and (min-width: 40em) {
  .padding-bottom-2rem-medium {
    padding-bottom: 2 rem; } }

@media screen and (min-width: 64em) {
  .padding-bottom-2rem-large {
    padding-bottom: 2 rem; } }

@media screen and (min-width: 75em) {
  .padding-bottom-2rem-xlarge {
    padding-bottom: 2 rem; } }

.margin-bottom-2rem {
  padding-bottom: 2 rem; }

@media screen and (min-width: 40em) {
  .margin-bottom-2rem-medium {
    padding-bottom: 2 rem; } }

@media screen and (min-width: 64em) {
  .margin-bottom-2rem-large {
    padding-bottom: 2 rem; } }

@media screen and (min-width: 75em) {
  .margin-bottom-2rem-xlarge {
    padding-bottom: 2 rem; } }

.padding-bottom-3rem {
  padding-bottom: 3 rem; }

@media screen and (min-width: 40em) {
  .padding-bottom-3rem-medium {
    padding-bottom: 3 rem; } }

@media screen and (min-width: 64em) {
  .padding-bottom-3rem-large {
    padding-bottom: 3 rem; } }

@media screen and (min-width: 75em) {
  .padding-bottom-3rem-xlarge {
    padding-bottom: 3 rem; } }

.margin-bottom-3rem {
  padding-bottom: 3 rem; }

@media screen and (min-width: 40em) {
  .margin-bottom-3rem-medium {
    padding-bottom: 3 rem; } }

@media screen and (min-width: 64em) {
  .margin-bottom-3rem-large {
    padding-bottom: 3 rem; } }

@media screen and (min-width: 75em) {
  .margin-bottom-3rem-xlarge {
    padding-bottom: 3 rem; } }

.padding-bottom-4rem {
  padding-bottom: 4 rem; }

@media screen and (min-width: 40em) {
  .padding-bottom-4rem-medium {
    padding-bottom: 4 rem; } }

@media screen and (min-width: 64em) {
  .padding-bottom-4rem-large {
    padding-bottom: 4 rem; } }

@media screen and (min-width: 75em) {
  .padding-bottom-4rem-xlarge {
    padding-bottom: 4 rem; } }

.margin-bottom-4rem {
  padding-bottom: 4 rem; }

@media screen and (min-width: 40em) {
  .margin-bottom-4rem-medium {
    padding-bottom: 4 rem; } }

@media screen and (min-width: 64em) {
  .margin-bottom-4rem-large {
    padding-bottom: 4 rem; } }

@media screen and (min-width: 75em) {
  .margin-bottom-4rem-xlarge {
    padding-bottom: 4 rem; } }

.padding-left-1rem {
  padding-left: 1 rem; }

@media screen and (min-width: 40em) {
  .padding-left-1rem-medium {
    padding-left: 1 rem; } }

@media screen and (min-width: 64em) {
  .padding-left-1rem-large {
    padding-left: 1 rem; } }

@media screen and (min-width: 75em) {
  .padding-left-1rem-xlarge {
    padding-left: 1 rem; } }

.margin-left-1rem {
  padding-left: 1 rem; }

@media screen and (min-width: 40em) {
  .margin-left-1rem-medium {
    padding-left: 1 rem; } }

@media screen and (min-width: 64em) {
  .margin-left-1rem-large {
    padding-left: 1 rem; } }

@media screen and (min-width: 75em) {
  .margin-left-1rem-xlarge {
    padding-left: 1 rem; } }

.padding-left-2rem {
  padding-left: 2 rem; }

@media screen and (min-width: 40em) {
  .padding-left-2rem-medium {
    padding-left: 2 rem; } }

@media screen and (min-width: 64em) {
  .padding-left-2rem-large {
    padding-left: 2 rem; } }

@media screen and (min-width: 75em) {
  .padding-left-2rem-xlarge {
    padding-left: 2 rem; } }

.margin-left-2rem {
  padding-left: 2 rem; }

@media screen and (min-width: 40em) {
  .margin-left-2rem-medium {
    padding-left: 2 rem; } }

@media screen and (min-width: 64em) {
  .margin-left-2rem-large {
    padding-left: 2 rem; } }

@media screen and (min-width: 75em) {
  .margin-left-2rem-xlarge {
    padding-left: 2 rem; } }

.padding-left-3rem {
  padding-left: 3 rem; }

@media screen and (min-width: 40em) {
  .padding-left-3rem-medium {
    padding-left: 3 rem; } }

@media screen and (min-width: 64em) {
  .padding-left-3rem-large {
    padding-left: 3 rem; } }

@media screen and (min-width: 75em) {
  .padding-left-3rem-xlarge {
    padding-left: 3 rem; } }

.margin-left-3rem {
  padding-left: 3 rem; }

@media screen and (min-width: 40em) {
  .margin-left-3rem-medium {
    padding-left: 3 rem; } }

@media screen and (min-width: 64em) {
  .margin-left-3rem-large {
    padding-left: 3 rem; } }

@media screen and (min-width: 75em) {
  .margin-left-3rem-xlarge {
    padding-left: 3 rem; } }

.padding-left-4rem {
  padding-left: 4 rem; }

@media screen and (min-width: 40em) {
  .padding-left-4rem-medium {
    padding-left: 4 rem; } }

@media screen and (min-width: 64em) {
  .padding-left-4rem-large {
    padding-left: 4 rem; } }

@media screen and (min-width: 75em) {
  .padding-left-4rem-xlarge {
    padding-left: 4 rem; } }

.margin-left-4rem {
  padding-left: 4 rem; }

@media screen and (min-width: 40em) {
  .margin-left-4rem-medium {
    padding-left: 4 rem; } }

@media screen and (min-width: 64em) {
  .margin-left-4rem-large {
    padding-left: 4 rem; } }

@media screen and (min-width: 75em) {
  .margin-left-4rem-xlarge {
    padding-left: 4 rem; } }