html, body { text-align: center; padding: 0px; margin: 0px; }

body
{
    background-image: url('/gallery/bg.png');
    font-size: 13px;
    font-style: normal;
    font-family: Tahoma;
    margin-top: 100px;
}

.header{
    width: 800px;
    height: 5px;
    display: table;
    background-color: #d0ecf0;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    border-bottom:solid #000; 
    /*border-top-left-radius: 15px;
    border-top-right-radius: 15px;*/
}

.Online-Users{
    position:relative;
    float: right;
    padding:15px;
    width: 75px;
    color:#333;
    background:#fff;
    text-align: center;
    /* css3 */
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.BoxContainer{
    padding-right: 10px;
    padding-left: 10px;
}
.container {
	width: 800px;
	display: table;
	background-color: #FFF;
	padding-bottom: 25px;
	margin: auto auto;
        border-width: 1px;
        border-color: #000000;
        border-style: solid;
        text-align: left;
        /*border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;*/
}

A:link {text-decoration: none; color: black }
A:visited {text-decoration: none; color: black }
A:active {text-decoration: none; color: black }
A:hover {text-decoration: none; color: #686868}

.navi {
	width:auto;
	height:25px;
	position:relative;
	padding: 5px 0 0 5px;
	margin:0 0 0 0;
}

.navb {
	background-color: #ffffff;
	margin:0 auto 0 5px;
	border: 1px solid #000;
	min-width:90px;
	min-height:12px;
	text-align:center;
	padding:5px 5px 5px 5px;
	float:left;
	cursor:pointer;
}

.subnavi {
	width:auto;
	height:25px;
	position:relative;
	padding: 5px 0 0 5px;
	margin:0 0 0 0;
}

.badge-back {
    position: absolute;
    left: 90px;
    top: 85px;    
}

.desc{
    float:left;
}

.Motto {
	float:left;
	padding:5px 2px 5px 5px;
	color:gray;
}

.Name {
	padding-top:25px;
	font-weight:bolder;
}

.subButton{
	text-align:center;
	padding:5px 35px 0 35px;
	float:left;
	cursor:pointer;
	border-right:thin gray dotted;
}

h1 {
	margin:0;
	padding:5px 0;
	width: auto;
	color:#000;
	font:normal 46px/1.2em Tahoma;
	letter-spacing:-2px;
        padding-right: 45%;
}
h1 a, h1 a:hover {
	color:#000;
	text-decoration:none;
}
.logo {
	width: auto;
        padding-right: 30%;
}
.logo img {
	float:left;
	margin:0 10px 0 0;
}

.online
{
    padding-left: 93%;
}

.button
{
    background: url('../styles'.Style.'/button.png') no-repeat;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana;
    height: 28px;
    width: 80px;
    padding: 3px;
    border: 1px solid #000;
}

.button:hover
{
    cursor: pointer;
}

input
{
    font-size: 12px;
    height: 18px;
    width: 190px;
    padding: 3px;
    border: 1px solid #d2d2d2;
}

.Box-Left
{
    float: left;
    text-align: left;
    background-color: #fff;
    width: 200px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #d2d2d2;
}

.steps
{
    height: 102px;
}

.content
{
    margin: 20px;
}

.CommentBox {
	position:relative;
        float: right;
	padding:15px;
	margin:1em 0 3em;
        width: 300px;
	border:5px solid #cccccc;
	color:#333;
	background:#fff;
	
	/* css3 */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.Avatar {
	float:left;
}
.Comment {
	margin-left:100px;
	width:360px;
}
.step
{
    float: left;
    text-align: center;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 42px;
    width: 42px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #d2d2d2;
}

.step-done
{
    float: left;
    text-align: center;
    background-color: #eee;
    font-size: 18px;
    font-weight: bold;
    height: 42px;
    width: 42px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #d2d2d2;
}

.step-box
{
    float: left;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: auto;
    width: auto;
    padding: 10px;
    margin: 20px;
    border: 1px solid #d2d2d2;
}

/* Box Headers */

div.box_header {
	background: #edede5;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: -5px;
	margin-left: -5px;
	margin-right: -5px;
}
div.box_header#red {
	color:#fff;
	background: #cc1122;
}
div.box_header#red2 {
	padding-top: 3px;
	color:#fff;
	background: #cc1122;
	border-top: #aaa solid thin;
}
div.box_header#blue {
	color:#fff;
	background: #33aadd;
}
div.box_header#green {
	color:#fff;
	background: #66aa00;
}
div.box_header#brown {
	background: #a67a3e;
	color:#fff;
}
div.box_header > div {
	float:right;
}
div.box_header > div#red {
	color:#cc1122;
}
div.box_header > div#red2 {
	color:#cc1122;
}
div.box_header > div#blue {
	color:#33aadd;
}
div.box_header > div#green {
	color:#66aa00;
}
div.box_header > div#brown {
color:#fff;
}

div.Big-Right {
	float: right;
	left: 0;
	width: 428px;
	margin-left: 3px;
	margin-top: 4px;
        margin-bottom: 4px;
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 10px;
	display:inline-block;
}
div.Big-Left {
	float: left;
	left: 0;
	width: 428px;
	margin-left: 3px;
	margin-top: 4px;
        margin-bottom: 4px;
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 10px;
	display:inline-block;
}

div.Small-Left {
	float: left;
	left: 0;
	width: 280px;
	margin-left: 3px;
	margin-top: 4px;
        margin-bottom: 4px;
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 10px;
	display:inline-block;
}

div.Small-Right {
	float: right;
	left: 0;
	width: 280px;
	margin-left: 3px;
	margin-top: 4px;
        margin-bottom: 4px;
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 10px;
	display:inline-block;
}