

/****************************** 1600px ******************************/
@media screen and (max-width: 1600px) {
    .block {
        width: 88%;
    }

}

/****************************** 1380px ******************************/
@media screen and (max-width: 1380px) {
    .block {
        width: 92%;
    }    

    #logo {
         width: 120px;
         height: 116px;
     }

     .intro-wrapper:after {
        padding-top: 34.5%
    }

    .form-container img {
        width: 35px;
        height: auto;
    }

     .section1 .img-holder {
        width: 90%;
    }

     .diagram span {
        font-size: 1.7em;
        margin-top: 5%;
    }
}



/****************************** 1230px ******************************/
@media screen and (max-width: 1230px) {
    .section1 .img-holder {
        width: 95%;
    }

    .intro-wrapper:after {
        padding-top: 35.5%
    }

    .column-holder .column li {
        font-size: 0.9em;
    }
    
    .column-holder .column h5 {
        font-size: 1em;
    }

    .section3 {
        padding-top: 8%; 
    }


    .news-grid li {
        width: 47%;
        margin: 0 6% 40px 0;
    }

    .news-grid li:nth-of-type(2n) {
        margin-right: 0;
    }
        

}


/****************************** 1100px ******************************/
@media screen and (max-width: 1100px) {
      
    .form-container img {
        max-width: 60%;
        height: auto;
    }
    .section1 .img-holder {
       margin: 3% 0 5% 3%;
    }

    .half {
        width: 48%;
    }

    .left .half {
        margin-right: 0.5%;
    }

    .right .half {
        margin-left: 1.5%;
    }

    .section1 .half.left {
        padding-right: 0;
    }

    .column-holder {
        display: block;
        position: relative;
        margin: 0 auto;
    }

    .column-holder .column {
        display: block;
        width: 46%;
        padding: 0 2%;
    }

    .column-holder .column:last-of-type {
        width: 49%;
        padding: 60px 25%;
    }

    .column-holder .column:last-of-type .btn {
         margin: 0 18%;
    }

    .diagram .line {
      display: none;
    }

    .diagram .arrow, .diagram .arrow2, .diagram .arrow3 {
      display: none;
    } 

    .diagram .column {
        width: 46%;
        margin: 30px 2% 0;
    }
        
}




/****************************** 1024px ******************************/
@media screen and (max-width: 1024px) {

    .intro-wrapper {
        background-image: url(cms/img/intro-pic-1024.jpg);
        background-position: center 130px
    }

    .intro-wrapper:after {
        padding-top: 33%;
    }

}

    


/****************************** 980px ******************************/
@media screen and (max-width: 980px) {

    #logo {
         width: 100px;
         height: 96px;
     }

    #header .block {
        position: relative;
    }

    #main-nav {
        margin-top: 30px;
    }

    .intro-wrapper {
        background-position: center bottom;
        background-attachment: scroll;
    }

    .form-container {
        padding: 12px;
    }

    .form-container input[type="text"], .form-container select {
        width: 38%;
        margin: 6px 3%;
        padding: .5em;        
    }

    .form-container .btn {
        margin-top: 12px;
        padding: 8px 20px;
    }

    .form-container h2 {
        font-size: 1.1em;
    }

    .form-container img {
        width: 30px;
        height: auto;
    }

    .section1 .half {
        display: block;
        width: 100%;
        margin: 10px auto;
        padding: 0;
    }

    .section1 p {
        margin-bottom: 3%;
    }

    .section1 .btn, {
        margin: 0;
    }

    .section1 .img-holder {
        display: inline-block;
        text-align: center;
        margin-top: 0;
    }

    .section1 .rounded-img {
        display: inline-block;
    }

}




/****************************** 860px ******************************/
@media screen and (max-width: 860px) {
    #footer {
        height: auto;
    }

    #content-wrapper {
        padding: 0 0 520px;
    }

    #footer-content {
        padding: 20px 0;
    }
    
        
    #footer-content .column:nth-of-type(odd) {
        display: inline-block;
        float: left;
        width: 46%;
        padding: 0 2%;
        margin: 20px 0;
        vertical-align: top;
        clear:left;
    }
        #footer-content .column:nth-of-type(even) {
        display: inline-block;
        float: right;
        width: 46%;
        padding: 0 2%;
        margin: 20px 0;
        vertical-align: top;
    }

    #footer-content .column:third-of-type {
        clear: left;
    }

    #footer-content .column img {
        width: 70%;
        height: auto;
    }

}


/****************************** 760px ******************************/
@media screen and (max-width: 760px) {
    .block {
        width: 94%;
    }
    #upper-nav {
        margin-top: 10px;
    }
    #menu-btn {
        display: block;
    }
    #main-nav {
        position: absolute;
        float: none;
        top: 112px;
        left: 0;
        width: 106.2%;
        margin: 0 -3.1%;
        background-color: #0093d2;
        z-index: 99;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        transform-origin: center top;
    }
    #main-nav.inactive {
        height: 0;
        opacity: 0;
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    #main-nav.active {
        height: auto;
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    .main-nav li {
        float: none;
        text-align: center;
    }
    #main-nav .main-nav > li a {
        color: #fff;
        background-color: #0093d2;
    }
    .main-nav li ul {
        position: relative;
        left: auto;
        overflow: hidden;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        transform-origin: center top;
    }
    .main-nav li ul.inactive {
        height: 0;
        opacity: 0;
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        transform: scale(1, 0);
        transition: all .4s ease-in 0s;
    }
    .main-nav li ul.active {
        height: auto;
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        transform: scale(1, 1);
        transition: all .4s ease-in 0s;
    }
    .main-nav li li a {
        padding: 2px 8px;
        font-size: .78em;
    }
    #main-nav .main-nav li li a {
        background-color: #ebebeb;
        color: #636362;
    }

}


/****************************** 715px ******************************/
@media screen and (max-width: 715px) {

    .column-holder .column ul {
        font-size: 0.87em;
    }

    .news-grid li span {
        font-size: 1em;
    }

    .news-grid li .date {
        font-size: 0.86em;
    }
}


/****************************** 680px ******************************/
@media screen and (max-width: 680px) {

     #logo {
         width: 78px;
         height: 75px;
         margin: 2px 8px 8px 0;
     }

     #upper-nav {
        float: none;
        width: 100%;
        margin-top: 4px;
        text-align: center;
    }

    #upper-nav ul {
        float: none;
        text-align: center;
    }

    #upper-nav li {
        display: inline-block;
    }

    #upper-nav li a {
        padding: 4px 18px 4px;
    }

    #menu-btn {
        top: 40px;
    }
}


/****************************** 640px ******************************/
@media screen and (max-width: 640px) {

    h3 {
        font-size: 1.2em;
    }

    .btn {
        padding: 10px 20px;
        font-size: 0.98em;
    }

    .form-container {
        padding: 20px;
    }

    .form-container input[type="text"] {
         width: 93.5%;
         margin: 8px 0;
    }

    .form-container select {
        width: 96.1%;
        margin: 8px 0 0;      
    }

    .form-container .btn {
        width: 96.6%;
        margin-top: 16px;
        padding: 8px 20px;
    }

    .form-container h2 {
        font-size: 0.96em;
    }

    .form-container img {
        width: 26px;
        height: auto;
    }

    .column-holder {
        margin-top: 0;
        padding-top: 0;
    }

    .column-holder .column,  .column-holder .column:last-of-type {
        display: block;
        width: 96%;
        margin: 40px auto;
        padding-left: 10px;
    }

    .column-holder .column ul {
        font-size: 0.92em;
    }

    .column-holder .column h5 {
        font-size: 1.05em;
    }

    .column-holder .column .btn {
        margin: 0 25%;
    }

    .diagram .column {
        width: 96%;
        margin: 30px 2% 0;
    }
    .diagram span {
        float: none;
        margin: 0 auto;
    }


    .news-grid li {
        width: 100%;
        margin: 20px auto;
    }

}



/****************************** 480px ******************************/
@media screen and (max-width: 480px) {


    h3 {
        font-size: 1.08em;
    }

     #upper-nav {
        width: 100%;
    }

    .section1 p, .section2 p, .section3 p {
        font-size: 0.89em;
    }

    #footer p {
        font-size: 0.8em;
        font-weight: 400;
    }

    #subscription-form input[type="text"] {
        font: 0.78em;
        font-weight: 400;
    }

    .footer-nav li {
        font-size: 0.93em;
    }

    .copyright p {
        font-size: 0.3em;
    }

    #footer-content {
        margin: 0 auto;
    }

    #footer-content .column:nth-of-type(even) {
        display: inline-block;
        width: 100%;
        margin: 30px 0;
        padding-top: 20px;
        box-sizing: border-box;
        float: none;
        padding: 0 14%;
     }

    #footer-content .column:nth-of-type(odd) {
        display: inline-block;
        width: 100%;
        margin: 30px 0;
        padding-top: 20px;
        box-sizing: border-box;
        float: none;
        padding: 0 14%;
     }

    #footer {
        height: auto;
    }

    #content-wrapper {
        padding: 0 0 900px;
    }

    #footer-content .column img {
        width: 50%;
        height: auto;
    }

    #subscription-form input[type="text"] {
        width: 85%;
    }

}


/****************************** 420px ******************************/
@media screen and (max-width: 420px) {
    #upper-nav li a {
        padding: 0 10px 4px;        
        font-size: 0.7em;
    }
    #logo {
        width: 62px;
        height: 60px;
    }
    #main-nav {
        top: 94px;
    }
}



/****************************** 366px ******************************/
@media screen and (max-width: 366px) {

    h3 {
        font-size: 1.1em;
    }

    .section1 p, .section2 p {
        font-size: 0.88em;
    }
    
    .column-holder .column,  .column-holder .column:last-of-type {
        width: 100%;
    }

    .column-holder .column ul {
        font-size: 0.87em;
    }

    .column-holder .column h5 {
        font-size: 1.02em;
    }

    .column-holder .column .btn {
        margin: 0 20%;
    }

    .registration-container label {
        font-size: 0.9em;
    }

    .registration-container {
        padding: 20px;
    }
    .registration-box {
        width: 96%;
    }

    .registration-container input[type="text"], .registration-container input[type="password"], .registration-container select, .registration-container textarea {
         font-size: 0.9em;
    }

}