user nginx;
worker_processes  auto;
worker_rlimit_nofile 100000;
pid /var/run/nginx.pid;

load_module "modules/ngx_http_geoip_module.so";

error_log /var/log/nginx/error.log error;


events {
    worker_connections  10000;
    use epoll;
}


http {
	include		/etc/nginx/mime.types;
	default_type  application/octet-stream;

	server_names_hash_max_size 16384;
	server_names_hash_bucket_size 64;



	log_format  timelog  '$upstream_response_time $request_time "$upstream_addr" $remote_addr $http_CF_Connecting_IP [$time_local] $status "$sent_http_x_counter" "$request»' $host;
	log_format  main  '$remote_addr $geoip_country_code $geoip_city - $remote_user [$time_local] "$request" '
						'$status $body_bytes_sent "$http_referer" '
						'"$http_user_agent" "$http_x_forwarded_for" $host';

	sendfile        on;
	tcp_nopush      on;
	tcp_nodelay     on;
	server_tokens   off;

	proxy_buffer_size 16k;
	proxy_buffers 32 16k;
    proxy_read_timeout 300;
    keepalive_timeout 30;
    keepalive_requests 100;
	reset_timedout_connection on;
	client_max_body_size 10m;

	gzip on;
	gzip_types text/css application/x-javascript application/javascript text/javascript text/plain;
	gzip_comp_level 6;
	gzip_min_length 100;
	gzip_http_version 1.0;
	gzip_proxied any;
	gzip_disable "msie6";
	gzip_vary on;

	ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
	ssl_ciphers 'EECDH+ECDSA+AESGCM:EECDH+aRSA+AESGCM:EECDH+ECDSA+SHA384:EECDH+ECDSA+SHA256:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH+aRSA+RC4:EECDH:EDH+aRSA:RC4:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!RC4';
	ssl_session_cache shared:SSL:50m;
	ssl_session_timeout 30m;
	ssl_buffer_size 4k;
	ssl_prefer_server_ciphers on;
	resolver 8.8.8.8 8.8.4.4 ipv6=off;
	resolver_timeout 2s;
	ssl_stapling on;
	ssl_stapling_verify on;
	ssl_session_tickets off;
	ssl_dhparam /etc/nginx/certs/dhparams.pem;

	proxy_next_upstream error invalid_header timeout http_500 http_502 http_503 http_504;

	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/vhost.d/*.conf;

# END nginx.conf