body {
  margin:0;
  padding:0;
  font-family:sans-serif;
}
h1 {
  background-color:#cccccc;
  font-size:30pt;
  padding:5pt;
  box-shadow:inset 0 0 5pt #999999;
}
h2 {
  font-size:20pt;
  padding:5pt;
  border-bottom:1px solid #cccccc;
}
h3 {
  font-size:15pt;
  padding:5pt;
  border-bottom:1px solid #cccccc;
}
table {
  border-collapse:collapse;
  margin:0 5pt;
  border-radius:5pt;
  width:calc(100% - 10pt);
}
table tr:nth-of-type(2n) {
  background-color:#dedede;
}
table tr:hover {
  background-color:#cccccc;
}
table th,
table td {
  padding:5pt;
}
ul li {
  list-style-type:square;
}