//META{"name":"ClearVision_Zero","description":"A raging, red theme with customizable colors & background! Based on Discord Reborn by @Omniscient &DarkMatter by @Hammock. Server: https://discord.me/clearvision","author":"Zerthox","version":"5"}*//{}
/* "ClearVision - Zero v5" by @Zerthox */
/* Based on "Discord Reborn v4.30" by @Omniscient & "DarkMatter" by @Hammock */

/* IMPORT CSS FROM GITHUB */
@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE BETWEEN DARK AND LIGHT VERSION IN APPEARANCE SETTINGS!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
================ IMPORTANT LINKS =================
Github: https://git.io/v6BHO
Discord: https://git.io/vMnlu
Wiki: https://git.io/vXTqM
Latest version: https://git.io/v6Muk
Changelog: https://git.io/v6r5N
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #AA0000;
	--hover-color: #990000;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-4pfA0d::before,
.root-2sNHUF::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://cdn.discordapp.com/attachments/326397519812624384/393470057537208320/military.png) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/