.flair-Archers {
background-position:-5px -5px
}

.flair-Archers:hover:after {
content:"Dyeing their hair with the leaves"
}

.flair-Arrows {
background-position:-40px -5px
}

.flair-Arrows:hover:after {
content:"Knock the leaves off the trees!"
}

.flair-Bats {
background-position:-180px -82px
}

.flair-Bats:hover:after {
content:"Pumpkins make a good cave"
}

.flair-Bomber {
background-position:-180px -5px
}

.flair-Bomber:hover:after {
content:"Actually throws pumpkins painted black"
}

.flair-Barbarians {
background-position:-215px -5px
}

.flair-Barbarians:hover:after {
content:"The leaves are getting stuck in their mustaches"
}

.flair-Cannon {
background-position:-75px -5px
}

.flair-Cannon:hover:after {
content:"What if.. The cannonballs were pumpkins?"
}

.flair-Goblins {
background-position:-110px -5px
}

.flair-Goblins:hover:after {
content:"Perfect for those small details in your pumpkin carvings"
}

.flair-GoblinGang {
background-position:-109px -82px
}

.flair-GoblinGang:hover:after {
content:"Can we get 5 Pumpkins, for the whole gang?"
}

.flair-Knight {
background-position:-145px -5px
}

.flair-Knight:hover:after {
content:"Hacking leaves off some trees."
}

.flair-MinionHorde {
background-position:-5px -44px
}

.flair-MinionHorde:hover:after {
content:"Horde-ing for the long winter"
}

.flair-Minions {
background-position:-40px -44px
}

.flair-Minions:hover:after {
content:"Harvesting the pumpkin patch."
}

.flair-Mortar {
background-position:-75px -44px
}

.flair-Mortar:hover:after {
content:"The arena’s most advanced pumpkin launcher"
}

.flair-RoyalGiant {
background-position:-5px -83px
}

.flair-RoyalGiant:hover:after {
content:"Third Place Pumpkin Launching"
}

.flair-SpearGoblins {
background-position:-110px -44px
}

.flair-SpearGoblins:hover:after {
content:"Replaced spearheads with Pumpkins, made a huge mess."
}

.flair-Skeletons {
background-position:-145px -44px
}

.flair-Skeletons:hover:after {
content:"The 4th doot decided to make like a tree and leave."
}

.flair-Tesla {
background-position:-216px -44px
}

.flair-Tesla:hover:after {
content:"Hiding under a pile of leaves."
}

.flair-FireSpirits {
background-position:-40px -83px
}

.flair-FireSpirits:hover:after {
content:"Hopping around in leaf piles"
}

.flair-FlyingMachine {
background-position:-6px -318px
}

.flair-FlyingMachine:hover:after {
content:"The Master Builder has sent his first contraption to the Arena! It's a fast and fun flying machine, but fragile!"
}

.flair-IceSpirits {
background-position:-74px -83px
}

.flair-IceSpirits:hover:after {
content:"Spreading around some morning frost."
}

.flair-EliteBarbarians {
background-position:-145px -83px
}

.flair-EliteBarbarians:hover:after {
content:"Leaf this to us"
}

.flair-Zap {
background-position:-181px -44px
}

.flair-Zap:hover:after {
content:"Scary enough to make your hair stand up"
}

.flair-BarbarianHut {
background-position:-5px -198px
}

.flair-BarbarianHut:hover:after {
content:"A warm, cozy hut to avoid the windy weather"
}

.flair-BombTower {
background-position:-42px -198px
}

.flair-BombTower:hover:after {
content:"2 Time Champion of the Annual Arena Pumpkin Chuckin’ Challenge"
}

.flair-ElixirCollector {
background-position:-77px -198px
}

.flair-ElixirCollector:hover:after {
content:"Also doubles as Pumpkin Spice Latte storage!"
}

.flair-Fireball {
background-position:-111px -198px
}

.flair-Fireball:hover:after {
content:"Fire Pumpkin!"
}

.flair-GoblinHut {
background-position:-5px -238px
}

.flair-GoblinHut:hover:after {
content:"Spears work as rakes, if you try hard enough..."
}

.flair-Giant {
background-position:-147px -198px
}

.flair-Giant:hover:after {
content:"2nd Place Pumpkin Crushin Contest"
}

.flair-HogRider {
background-position:-183px -198px
}

.flair-HogRider:hover:after {
content:"Followed the smell of pumpkin pies into the arena"
}

.flair-InfernoTower {
background-position:-219px -198px
}

.flair-InfernoTower:hover:after {
content:"Burning leaves away, one at a time..."
}

.flair-MiniPEKKA {
background-position:-42px -238px
}

.flair-MiniPEKKA:hover:after {
content:"What goes better with pancakes than some maple syrup?"
}

.flair-Musketeer {
background-position:-77px -238px
}

.flair-Musketeer:hover:after {
content:"It's not a gun, it's a leaf blower."
}

.flair-Rocket {
background-position:-183px -238px
}

.flair-Rocket:hover:after {
content:"Leaves a trail of gaseous pumpkin in it’s wake."
}

.flair-Tombstone {
background-position:-111px -238px
}

.flair-Tombstone:hover:after {
content:"Getting prepared for it’s favorite holiday"
}

.flair-Valkyrie {
background-position:-147px -238px
}

.flair-Valkyrie:hover:after {
content:"She attaches apples to her axe, then spins them in caramel!"
}

.flair-Wizard {
background-position:-219px -238px
}

.flair-Wizard:hover:after {
content:"Baking a warm apple pie."
}

.flair-ThreeMusketeers {
background-position:-183px -278px
}

.flair-ThreeMusketeers:hover:after {
content:"3 leaf blowers for a discount!"
}

.flair-Furnace {
background-position:-77px -278px
}

.flair-Furnace:hover:after {
content:"Bake Fire Spirits, and pumpkin pies!"
}

.flair-MegaMinion {
background-position:-112px -278px
}

.flair-MegaMinion:hover:after {
content:"Pumpkin Spice Cupcakes?"
}

.flair-IceGolem {
background-position:-147px -278px
}

.flair-IceGolem:hover:after {
content:"Cold doot."
}

.flair-DartGoblin {
background-position:-5px -278px
}

.flair-DartGoblin:hover:after {
content:"Shootin leaves from his blow-gun"
}

.flair-BattleRam {
background-position:-42px -278px
}

.flair-BattleRam:hover:after {
content:"Took a tree without leaves, turned it into the pencil."
}

.flair-BabyDragon {
background-position:-218px -438px
}

.flair-BabyDragon:hover:after {
content:"Setting fire to the leaf piles"
}

.flair-Balloon {
background-position:-5px -478px
}

.flair-Balloon:hover:after {
content:"Fall winds keep it movin’"
}

.flair-Bowler {
background-position:-5px -398px
}

.flair-Bowler:hover:after {
content:"Loves Dark Elixir and Pumpkin rolling contests"
}

.flair-Clone {
background-position:-147px -438px
}

.flair-Clone:hover:after {
content:"When one rake doesn’t help enough"
}

.flair-DarkPrince {
background-position:-42px -438px
}

.flair-DarkPrince:hover:after {
content:"2 Time Champion of the Arena Pumpkin Crushin Challenge"
}

.flair-Executioner {
background-position:-183px -438px
}

.flair-Executioner:hover:after {
content:"Always wins the carving contest"
}

.flair-Executioner-2 {
background-position:-6px -518px
}

.flair-Executioner-2:hover:after {
content:"Always wins the carving contest"
}

.flair-Freeze {
background-position:-76px -438px
}

.flair-Freeze:hover:after {
content:"Freeze those leaves so they stop falling!"
}

.flair-Golem {
background-position:-77px -478px
}

.flair-Golem:hover:after {
content:"Trading in his sunglasses for some leaf-glasses"
}

.flair-GiantSkeleton {
background-position:-111px -478px
}

.flair-GiantSkeleton:hover:after {
content:"His bomb holds gallons of hot chocolate!"
}

.flair-Guards {
background-position:-147px -398px
}

.flair-Guards:hover:after {
content:"Already dressed up for Halloween!"
}

.flair-GoblinBarrel {
background-position:-111px -438px
}

.flair-GoblinBarrel:hover:after {
content:"Replaced Barrel with pumpkin, made a mess"
}

.flair-Heal {
background-position:-220px -277px
}

.flair-Heal:hover:after {
content:"Cannot heal fear"
}

.flair-Lightning {
background-position:-183px -478px
}

.flair-Lightning:hover:after {
content:"Loving this stormy season."
}

.flair-Mirror {
background-position:-147px -478px
}

.flair-Mirror:hover:after {
content:"For another leaf pile, but it’ll cost you one more leaf"
}

.flair-PEKKA {
background-position:-42px -398px
}

.flair-PEKKA:hover:after {
content:"An effective scarecrow until a butterfly comes along."
}

.flair-Prince {
background-position:-77px -398px
}

.flair-Prince:hover:after {
content:"I don’t think lances can rake"
}

.flair-Rage {
background-position:-112px -398px
}

.flair-Rage:hover:after {
content:"This apple cider makes me feel funny..."
}

.flair-SkeletonArmy {
background-position:-5px -438px
}

.flair-SkeletonArmy:hover:after {
content:"A whole graveyard, but alive."
}

.flair-SkeletonBarrel {
background-position:-214px -82px
}

.flair-SkeletonBarrel:hover:after {
content:"It's like a Skeleton party in the sky, until all the balloons pop... then it's a Skeleton party on the ground!"
}

.flair-Poison {
background-position:-219px -478px
}

.flair-Poison:hover:after {
content:"Covers the target area in a yummy maple syrup and leaves the ground sticky. Ew."
}

.flair-Tornado {
background-position:-41px -478px
}

.flair-Tornado:hover:after {
content:"Blowing around some leaves."
}

.flair-Witch {
background-position:-183px -398px
}

.flair-Witch:hover:after {
content:"Getting her skeletons ready for Halloween"
}

.flair-XBow {
background-position:-218px -398px
}

.flair-XBow:hover:after {
content:"1st Place Pumpkin Speed Throwing Contest"
}

.flair-CannonCart {
background-position:-42px -518px
}

.flair-CannonCart:hover:after {
content:"A cannon that shoots out candy apples?! Bet they won't see that coming."
}

.flair-Graveyard {
width:23px;
height:30px;
background-position:-251px -45px
}

.flair-Graveyard:hover:after {
content:"Getting prepared for their favorite holiday."
}

.flair-ElectroWizard {
width:23px;
height:32px;
background-position:-426px -5px
}

.flair-ElectroWizard:hover:after {
content:"Powers up your leaf blower"
}

.flair-LavaHound {
width:25px;
height:30px;
background-position:-251px -5px
}

.flair-LavaHound:hover:after {
content:"Majestically flying over the colorful forest."
}

.flair-Miner {
width:25px;
height:30px;
background-position:-321px -5px
}

.flair-Miner:hover:after {
content:"Shovels don’t work as well as rakes..."
}

.flair-NightWitch {
width:24px;
height:30px;
background-position:-354px -45px
}

.flair-NightWitch:hover:after {
content:"Born for Halloween"
}

.flair-Sparky {
width:25px;
height:30px;
background-position:-286px -5px
}

.flair-Sparky:hover:after {
content:"Getting ready to squash the competition."
}

.flair-Lumberjack {
width:25px;
height:32px;
background-position:-355px -5px
}

.flair-Lumberjack:hover:after {
content:"A pumpkin spice latte tastes better than rage."
}

.flair-Log {
width:25px;
height:32px;
background-position:-390px -5px
}

.flair-Log:hover:after {
content:"My leaves have turned orange..."
}

.flair-IceWizard {
width:25px;
height:32px;
background-position:-286px -45px
}

.flair-IceWizard:hover:after {
content:"Wishing his apple pie was as *ice* as his brother’s."
}

.flair-Princess {
width:25px;
height:32px;
background-position:-461px -5px
}

.flair-Princess:hover:after {
content:"Burning leaves is okay, right?"
}

.flair-InfernoDragon {
width:23px;
height:32px;
background-position:-496px -5px
}

.flair-InfernoDragon:hover:after {
content:"Warms up apple cider pretty well"
}

.flair-Bandit {
width:25px;
height:32px;
background-position:-320px -45px
}

.flair-Bandit:hover:after {
content:"Dashing through the… leaves?"
}

.flair-MegaKnight {
background-position:-390px -45px
}

.flair-MegaKnight:hover:after {
content:"Jumping from one leaf pile to the next, landing with the force of 1,000 mustaches. Stand aside!"
}

.flair-RoyalGhost {
background-position:-390px -45px
}

.flair-RoyalGhost:hover:after {
content:"Sp00ky!"
}