
# MANAGED BY PUPPET
server {
  listen *:80;
  server_name           i.beryju.org;

  index  index.php index.html;

  access_log            /var/log/nginx/i.beryju.org_access.log combined;
  access_log            syslog:server=172.16.1.30:12301 combined;
  error_log             /var/log/nginx/i.beryju.org_error.log;
  error_log             syslog:server=172.16.1.30:12302;

  error_page  400 /400;
  error_page  401 /401;
  error_page  403 /403;
  error_page  404 /404;
  error_page  500 /500;
  error_page  502 /502;
  error_page  503 /503;
  error_page  504 /504;

  location / {
    root  /srv/sites/beryjuorg/i.beryju.org/;
    include /etc/nginx/uwsgi_params;
    uwsgi_pass unix:/var/run/uwsgi/app/i.beryju.org/socket;
  }

  location ~* ^/(404|401|403|404|500|502|503|504)$ {
    internal;
    root      /etc/nginx/error/;
    index     index.html index.htm index.php;
    default_type "text/html;charset=UTF-8";
  }

  location ~ /\.well-known/acme-challenge/ {
    auth_basic           "off";
    proxy_pass            http://bsl1-fre-mst-prod-1.bsl1.beryju.org:8080;
    proxy_read_timeout    300s;
    proxy_connect_timeout 300s;
    proxy_set_header      Host $host;
    proxy_set_header      X-Real-IP $remote_addr;
    proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header      Proxy "";
    default_type "text/plain";
  }

  location ^~ /static {
    root      /srv/sites/beryjuorg/i.beryju.org/;
    index     index.html index.htm index.php;
  }
  limit_conn perip 10;
  limit_conn perserver 100;
  add_header X-Backend-Server $hostname;

}