server  {
  listen 80;
  server_name fucking.domain.com;

  location / {
    proxy_pass http://127.0.0.1:3039;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  gzip            on;
  gzip_min_length 1000;
  gzip_proxied    expired no-cache no-store private auth;
  gzip_types      text/plain text/css text/xml text/javascript application/json application/x-javascript application/xml application/xml+rss application/javascript;
}