/* SiteOrigin PageBuilder */
.site-inner,
.content-sidebar-wrap {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
}
.content {
    margin: 0 auto !important;
    float: none;
    padding: 0 !important;
    width: 100% !important;
}
.panel {
    border-width: 0 !important;
    box-shadow: none !important;
    background-color: transparent;
}
.dynamik-content-filler-img {
    display: none !important;
}
.panel-grid-cell {
    margin: 0 auto;
    max-width: 1060px;
    /*max-width: 100%;*/
}


.fl-module-content  .fl-callout .fl-callout-title {
   color: white;
}

.CONSULTING  .fl-module-content  .fl-callout .fl-callout-title {
   color: black;
}