
#EXTM3U
#EXTINF:-1,Rai 1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/2.ts
#EXTINF:-1,Rai 2 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/4.ts
#EXTINF:-1,Rai 3 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/6.ts
#EXTINF:-1,Rete 4 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/8.ts
#EXTINF:-1,Canale 5 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/8717.ts
#EXTINF:-1,Canale 5  +1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20059.ts
#EXTINF:-1,Italia 1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/12.ts
#EXTINF:-1,Grande Fratello Vip Diretta
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20224.ts
#EXTINF:-1,TV8
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/19383.ts
#EXTINF:-1,RSI La1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/614.ts
#EXTINF:-1,RSI La2 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/22.ts
#EXTINF:-1,======== SKY CINEMA HD ========
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/26.ts
#EXTINF:-1,Sky Cinema Uno HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/28.ts
#EXTINF:-1,Sky Cinema  + 1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/31.ts
#EXTINF:-1,Sky Cinema  +24 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/34.ts
#EXTINF:-1,Sky Cinema Comedy HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/52.ts
#EXTINF:-1,Sky Cinema Family HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/40.ts
#EXTINF:-1,Sky Cinema Family +1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/9649.ts
#EXTINF:-1,Sky Cinema Hits HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/37.ts
#EXTINF:-1,Sky Cinema Max HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/46.ts
#EXTINF:-1,Sky Cinema Max  1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/8018.ts
#EXTINF:-1,Sky Cinema Classic HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/60.ts
#EXTINF:-1,Sky Cinema Passion HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/55.ts
#EXTINF:-1,Sky Cinema Cult HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/58.ts
#EXTINF:-1,======== INTRATTENIMENTO ========
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/183.ts
#EXTINF:-1,Sky Atlantic HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/190.ts
#EXTINF:-1,Sky Atlantic  +1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/8020.ts
#EXTINF:-1,Sky Uno HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/185.ts
#EXTINF:-1,Sky Uno +1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/8019.ts
#EXTINF:-1,Sky Arte HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/208.ts
#EXTINF:-1,Fox HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/188.ts
#EXTINF:-1,Fox  HD +1
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/9647.ts
#EXTINF:-1,Fox Life HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/194.ts
#EXTINF:-1,Fox Comedy HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/199.ts
#EXTINF:-1,Fox Crime HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/197.ts
#EXTINF:-1,Fox Crime  1
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20050.ts
#EXTINF:-1,FOX ANIMATION
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/8718.ts
#EXTINF:-1,Comedy Central
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/214.ts
#EXTINF:-1,RAI 4 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/17.ts
#EXTINF:-1,Rai 5 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/19.ts
#EXTINF:-1,Mediaset Extra
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/249.ts
#EXTINF:-1,Mediaset Italia 2
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/248.ts
#EXTINF:-1,Paramount Channel HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/168.ts
#EXTINF:-1,Iris
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/165.ts
#EXTINF:-1,La 5
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/14.ts
#EXTINF:-1,Top Crime
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/166.ts
#EXTINF:-1,La 7 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/15.ts
#EXTINF:-1,LA7d
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/16.ts
#EXTINF:-1,Giallo
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/245.ts
#EXTINF:-1,CLASSICA HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/215.ts
#EXTINF:-1,La Sposa HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/8024.ts
#EXTINF:-1,======== MEDIASET PREMIUM CINEMA ========
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/148.ts
#EXTINF:-1,Premium Cinema HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/149.ts
#EXTINF:-1,Premium Cinema 2 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/151.ts
#EXTINF:-1,Premium Cinema 2 +24
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/152.ts
#EXTINF:-1,Premium Cinema  +24
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/150.ts
#EXTINF:-1,Premium Emotion
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/160.ts
#EXTINF:-1,Premium Cinema Energy +24
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/9628.ts
#EXTINF:-1,Premium Cinema Energy
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/158.ts
#EXTINF:-1,Premium Cinema Comedy
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/157.ts
#EXTINF:-1,Premium Discovery Investigation
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/207.ts
#EXTINF:-1,Premium Crime HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/155.ts
#EXTINF:-1,Premium Crime  +24
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/156.ts
#EXTINF:-1,Premium Action HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/153.ts
#EXTINF:-1,Premium Action  +24
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/154.ts
#EXTINF:-1,Premium Joy
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/161.ts
#EXTINF:-1,Premium Joy  +24
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/162.ts
#EXTINF:-1,Premium Stories
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/163.ts
#EXTINF:-1,Premium Stories +24
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/164.ts
#EXTINF:-1,Premium Studio Universal
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/167.ts
#EXTINF:-1,======== SKY SPORT ========
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/91.ts
#EXTINF:-1,Sky Sport 24 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/93.ts
#EXTINF:-1,Sky Sport 1 FULL HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/96.ts
#EXTINF:-1,Sky Sport 1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/11620.ts
#EXTINF:-1,Sky Sport 2 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/99.ts
#EXTINF:-1,SkySport 3 FHD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20041.ts
#EXTINF:-1,Sky Sport 3 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/102.ts
#EXTINF:-1,Sky Sport Mix
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20038.ts
#EXTINF:-1,Sky Sport Plus HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/107.ts
#EXTINF:-1,Sky Sport F1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/110.ts
#EXTINF:-1,Sky Sport Moto GP HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/113.ts
#EXTINF:-1,Fox Sports HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/105.ts
#EXTINF:-1,Rai Sport 1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/118.ts
#EXTINF:-1,Rai Sport 2 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/119.ts
#EXTINF:-1,Pesca e Caccia
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/257.ts
#EXTINF:-1,Caccia e Pesca
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/256.ts
#EXTINF:-1,Italian Fishing
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/258.ts
#EXTINF:-1,Sport Italia
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/117.ts
#EXTINF:-1,SuperTennis
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/123.ts
#EXTINF:-1,AutoMoto TV
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/120.ts
#EXTINF:-1,Bike Channell HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/124.ts
#EXTINF:-1,EuroSport 1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/115.ts
#EXTINF:-1,EuroSport 2 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/116.ts
#EXTINF:-1,UNIRESAT HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/9532.ts
#EXTINF:-1,WWE Wrestling HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/127.ts
#EXTINF:-1,======== SKY CALCIO ========
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/128.ts
#EXTINF:-1,Sky Supercalcio HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/129.ts
#EXTINF:-1,Sky Calcio 1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/131.ts
#EXTINF:-1,Sky Calcio 2 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/134.ts
#EXTINF:-1,Sky Calcio 3 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/136.ts
#EXTINF:-1,Sky Calcio 4 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/137.ts
#EXTINF:-1,Sky Calcio 5 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/138.ts
#EXTINF:-1,Sky Calcio 6 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/139.ts
#EXTINF:-1,Sky Calcio 7 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/140.ts
#EXTINF:-1,Sky Calcio 8 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/141.ts
#EXTINF:-1,Sky Calcio 9 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/142.ts
#EXTINF:-1,Sky Calcio 10 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/7030.ts
#EXTINF:-1,Sky Calcio 11 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20431.ts
#EXTINF:-1,Juventus Channel
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/143.ts
#EXTINF:-1,Lazio Channel
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/6254.ts
#EXTINF:-1,Milan Channel
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/146.ts
#EXTINF:-1,Inter Channel
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/145.ts
#EXTINF:-1,Roma Channel
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/144.ts
#EXTINF:-1,TORINO CHANNEL
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/19380.ts
#EXTINF:-1,Lega pro Palinsesto
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/21494.ts
#EXTINF:-1,Lega Pro  Olbia
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/21493.ts
#EXTINF:-1,Lega Pro 11 Sanbenedettese
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/21495.ts
#EXTINF:-1,Lega pro Modena
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/21490.ts
#EXTINF:-1,Lega Pro Piacenza
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/21496.ts
#EXTINF:-1,LEGA PRO Sport mix 1
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/21491.ts
#EXTINF:-1,LEGA PRO Sport mix 2
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/21492.ts
#EXTINF:-1,Serie-C Akragas
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20152.ts
#EXTINF:-1,Serie-C Catania
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20158.ts
#EXTINF:-1,Serie-C Cosenza
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20149.ts
#EXTINF:-1,Serie-C Fidelis Andria
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20151.ts
#EXTINF:-1,Serie-C Juve Stabia
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20147.ts
#EXTINF:-1,Serie-C Lecce
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20157.ts
#EXTINF:-1,Serie-C Reggina
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20156.ts
#EXTINF:-1,Serie-C Trapani
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20155.ts
#EXTINF:-1,Serie-C Pisa
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20153.ts
#EXTINF:-1,Serie-C Casertana
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20148.ts
#EXTINF:-1,Serie-C Siracusa
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20145.ts
#EXTINF:-1,Serie-C Reggiana
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20144.ts
#EXTINF:-1,Serie-C Livorno
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/20143.ts
#EXTINF:-1,======== MEDIASET PREMIUM SPORT ========
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/169.ts
#EXTINF:-1,Premium Sport FULL HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/8715.ts
#EXTINF:-1,Premium sport AURIEMMA
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/21175.ts
#EXTINF:-1,Premium Sport HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/171.ts
#EXTINF:-1,Premium sport 2 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/6251.ts
#EXTINF:-1,Premium Calcio 1
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/176.ts
#EXTINF:-1,Premium Calcio 1 HD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/175.ts
#EXTINF:-1,Premium Calcio 2
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/177.ts
#EXTINF:-1,Premium Calcio 3
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/178.ts
#EXTINF:-1,Premium Calcio 4
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/179.ts
#EXTINF:-1,Premium Calcio 5
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/180.ts
#EXTINF:-1,Premium Calcio 6
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/181.ts
#EXTINF:-1,=========BASSA DEFINIZIONE/SD=========
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/442.ts
#EXTINF:-1,Rai 1 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/3.ts
#EXTINF:-1,Rai 2 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/5.ts
#EXTINF:-1,Rai 3 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/7.ts
#EXTINF:-1,Rete 4 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/9.ts
#EXTINF:-1,Canale 5 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/11.ts
#EXTINF:-1,Italia 1 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/13.ts
#EXTINF:-1,RSI La1 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/720.ts
#EXTINF:-1,RSI La2 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/23.ts
#EXTINF:-1,Sky Cinema Uno SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/29.ts
#EXTINF:-1,Sky Cinema  +Uno SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/32.ts
#EXTINF:-1,Sky Cinema  24 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/35.ts
#EXTINF:-1,Sky Cinema Comedy SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/53.ts
#EXTINF:-1,Sky Cinema Family SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/41.ts
#EXTINF:-1,Sky Cinema Hits SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/38.ts
#EXTINF:-1,Sky Cinema Max SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/47.ts
#EXTINF:-1,Sky Cinema Classic SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/61.ts
#EXTINF:-1,Sky Cinema Passion SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/8000.ts
#EXTINF:-1,Sky Cinema Cult SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/59.ts
#EXTINF:-1,Fox Crime SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/198.ts
#EXTINF:-1,Fox Comedy SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/200.ts
#EXTINF:-1,Sky Sport 24 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/94.ts
#EXTINF:-1,Sky Sport 1 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/97.ts
#EXTINF:-1,Sky Sport 2 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/100.ts
#EXTINF:-1,Sky Sport 3 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/103.ts
#EXTINF:-1,Sky Formula 1 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/111.ts
#EXTINF:-1,Fox Sports SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/106.ts
#EXTINF:-1,Sky Supercalcio SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/130.ts
#EXTINF:-1,Sky Calcio 1 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/132.ts
#EXTINF:-1,Sky Calcio 2 SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/135.ts
#EXTINF:-1,Premium Sport SD
http://star-tv.ddns.me:25461/live/Colitti/QnCkxFf9DM/173.ts

#EXTINF:-1,IT: Sky Cinema 1
http://one4k.net:13000/live/strongholds29/najibvusolo2/15102.ts
#EXTINF:-1,IT: Sky Cinema 1  24 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15101.ts
#EXTINF:-1,IT: Sky Cinema 3D
http://one4k.net:13000/live/strongholds29/najibvusolo2/15100.ts
#EXTINF:-1,IT: Sky Cinema Classic HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15099.ts
#EXTINF:-1,IT: Sky Cinema Comedy HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15098.ts
#EXTINF:-1,IT: Sky Cinema Cult HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15097.ts
#EXTINF:-1,IT: Sky Cinema Family HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15096.ts
#EXTINF:-1,IT: Sky Cinema Hits HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15095.ts
#EXTINF:-1,IT: Sky Cinema Max HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15094.ts
#EXTINF:-1,IT: Sky Cinema Passion HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15093.ts
#EXTINF:-1,IT: Sky Atlantic HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15112.ts
#EXTINF:-1,IT: Sky Sport 1 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15092.ts
#EXTINF:-1,IT: Sky Sport 2 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15091.ts
#EXTINF:-1,IT: Sky Sport 24 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15090.ts
#EXTINF:-1,IT: Sky Sport 3 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15089.ts
#EXTINF:-1,IT: Sky Sport F1 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15088.ts
#EXTINF:-1,IT: Sky SPORT Moto GP
http://one4k.net:13000/live/strongholds29/najibvusolo2/15087.ts
#EXTINF:-1,IT: Sky Supercalcio HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15086.ts
#EXTINF:-1,IT: Sky TG 24
http://one4k.net:13000/live/strongholds29/najibvusolo2/15085.ts
#EXTINF:-1,IT: Sky Uno HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15084.ts
#EXTINF:-1,IT: SkyTG24
http://one4k.net:13000/live/strongholds29/najibvusolo2/15083.ts
#EXTINF:-1,IT: Sky Calcio 1
http://one4k.net:13000/live/strongholds29/najibvusolo2/15111.ts
#EXTINF:-1,IT: Sky Calcio 1 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15110.ts
#EXTINF:-1,IT: Sky Calcio 2
http://one4k.net:13000/live/strongholds29/najibvusolo2/15109.ts
#EXTINF:-1,IT: Sky Calcio 2 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15108.ts
#EXTINF:-1,IT: Sky Calcio 3 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15107.ts
#EXTINF:-1,IT: Sky Calcio 4 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15106.ts
#EXTINF:-1,IT: Sky Calcio 5 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15105.ts
#EXTINF:-1,IT: Sky Calcio 6 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15104.ts
#EXTINF:-1,IT: Sky Calcio 7 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15103.ts
#EXTINF:-1,IT: Premium Action  24 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15210.ts
#EXTINF:-1,IT: Premium Action HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15209.ts
#EXTINF:-1,IT: Premium Calcio 1 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15208.ts
#EXTINF:-1,IT: Premium Calcio 2 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15207.ts
#EXTINF:-1,IT: Premium Calcio 3 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15206.ts
#EXTINF:-1,IT: Premium Calcio 4 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15205.ts
#EXTINF:-1,IT: Premium Calcio 5 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15204.ts
#EXTINF:-1,IT: Premium Calcio 6 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15203.ts
#EXTINF:-1,IT: Premium Cartoon Network
http://one4k.net:13000/live/strongholds29/najibvusolo2/15202.ts
#EXTINF:-1,IT: Premium Cinema
http://one4k.net:13000/live/strongholds29/najibvusolo2/15201.ts
#EXTINF:-1,IT: Premium Cinema 1 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15200.ts
#EXTINF:-1,IT: Premium Cinema 2 24 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15199.ts
#EXTINF:-1,IT: Premium Cinema 2 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15198.ts
#EXTINF:-1,IT: Premium Cinema 24
http://one4k.net:13000/live/strongholds29/najibvusolo2/15197.ts
#EXTINF:-1,IT: Premium Cinema 24 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15196.ts
#EXTINF:-1,IT: Premium Cinema HD (ENG)
http://one4k.net:13000/live/strongholds29/najibvusolo2/15195.ts
#EXTINF:-1,IT: Premium Comedy
http://one4k.net:13000/live/strongholds29/najibvusolo2/15194.ts
#EXTINF:-1,IT: Premium Comedy HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15193.ts
#EXTINF:-1,IT: Premium Crime  24
http://one4k.net:13000/live/strongholds29/najibvusolo2/15192.ts
#EXTINF:-1,IT: Premium Crime 24
http://one4k.net:13000/live/strongholds29/najibvusolo2/15191.ts
#EXTINF:-1,IT: Premium Crime 24 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15190.ts
#EXTINF:-1,IT: Premium Crime HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15189.ts
#EXTINF:-1,IT: Premium Discovery HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15188.ts
#EXTINF:-1,IT: Premium Emotion
http://one4k.net:13000/live/strongholds29/najibvusolo2/15187.ts
#EXTINF:-1,IT: Premium Emotion HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15186.ts
#EXTINF:-1,IT: Premium Energy  1
http://one4k.net:13000/live/strongholds29/najibvusolo2/15185.ts
#EXTINF:-1,IT: Premium Energy HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15184.ts
#EXTINF:-1,IT: Premium Joy
http://one4k.net:13000/live/strongholds29/najibvusolo2/15183.ts
#EXTINF:-1,IT: Premium Joy  24
http://one4k.net:13000/live/strongholds29/najibvusolo2/15182.ts
#EXTINF:-1,IT: Premium Joy HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15181.ts
#EXTINF:-1,IT: Premium Sport 1 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15180.ts
#EXTINF:-1,IT: Premium Sport 2 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15179.ts
#EXTINF:-1,IT: Premium Stories
http://one4k.net:13000/live/strongholds29/najibvusolo2/15178.ts
#EXTINF:-1,IT: Premium Studio Universal
http://one4k.net:13000/live/strongholds29/najibvusolo2/15177.ts
#EXTINF:-1,IT: Aldo Giovanni e Giacomo-Ammutta Muddica
http://one4k.net:13000/live/strongholds29/najibvusolo2/15335.ts
#EXTINF:-1,IT: Alice
http://one4k.net:13000/live/strongholds29/najibvusolo2/15009.ts
#EXTINF:-1,IT: Alpa Uno TV
http://one4k.net:13000/live/strongholds29/najibvusolo2/15008.ts
#EXTINF:-1,IT: Alto Adige
http://one4k.net:13000/live/strongholds29/najibvusolo2/15334.ts
#EXTINF:-1,IT: Animal Planet HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15333.ts
#EXTINF:-1,IT: Antenna 3 TV
http://one4k.net:13000/live/strongholds29/najibvusolo2/15332.ts
#EXTINF:-1,IT: Antenna Sicilia TV
http://one4k.net:13000/live/strongholds29/najibvusolo2/15331.ts
#EXTINF:-1,IT: AutoMoto TV
http://one4k.net:13000/live/strongholds29/najibvusolo2/15330.ts
#EXTINF:-1,IT: AXN HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15329.ts
#EXTINF:-1,IT: Boing
http://one4k.net:13000/live/strongholds29/najibvusolo2/15328.ts
#EXTINF:-1,IT: Brescia Tv
http://one4k.net:13000/live/strongholds29/najibvusolo2/15327.ts
#EXTINF:-1,IT: Caffe Tv 24
http://one4k.net:13000/live/strongholds29/najibvusolo2/15326.ts
#EXTINF:-1,IT: Canale 21 Campania
http://one4k.net:13000/live/strongholds29/najibvusolo2/15325.ts
#EXTINF:-1,IT: Canale 21 Lazio
http://one4k.net:13000/live/strongholds29/najibvusolo2/15324.ts
#EXTINF:-1,IT: Canale 33
http://one4k.net:13000/live/strongholds29/najibvusolo2/15323.ts
#EXTINF:-1,IT: Canale 46
http://one4k.net:13000/live/strongholds29/najibvusolo2/15322.ts
#EXTINF:-1,IT: Canale 5
http://one4k.net:13000/live/strongholds29/najibvusolo2/15321.ts
#EXTINF:-1,IT: CANALE 5 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15320.ts
#EXTINF:-1,IT: Canale 7 Ita
http://one4k.net:13000/live/strongholds29/najibvusolo2/15319.ts
#EXTINF:-1,IT: Canale 8
http://one4k.net:13000/live/strongholds29/najibvusolo2/15318.ts
#EXTINF:-1,IT: Canale10
http://one4k.net:13000/live/strongholds29/najibvusolo2/15317.ts
#EXTINF:-1,IT: Canale8
http://one4k.net:13000/live/strongholds29/najibvusolo2/15316.ts
#EXTINF:-1,IT: Cartoon Network
http://one4k.net:13000/live/strongholds29/najibvusolo2/15315.ts
#EXTINF:-1,IT: Discovery Channel HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15304.ts
#EXTINF:-1,IT: Discovery Focus
http://one4k.net:13000/live/strongholds29/najibvusolo2/15303.ts
#EXTINF:-1,IT: Discovery Science HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15302.ts
#EXTINF:-1,IT: Discovery Travel & Living HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15301.ts
#EXTINF:-1,IT: Disney Channel HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15300.ts
#EXTINF:-1,IT: Disney Junior
http://one4k.net:13000/live/strongholds29/najibvusolo2/15299.ts
#EXTINF:-1,IT: Disney XD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15298.ts
#EXTINF:-1,IT: Dmax
http://one4k.net:13000/live/strongholds29/najibvusolo2/15297.ts
#EXTINF:-1,IT: Dmax  1
http://one4k.net:13000/live/strongholds29/najibvusolo2/15296.ts
#EXTINF:-1,IT: Dmax HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15295.ts
#EXTINF:-1,IT: E20 Sicilia
http://one4k.net:13000/live/strongholds29/najibvusolo2/15294.ts
#EXTINF:-1,IT: Eden TV
http://one4k.net:13000/live/strongholds29/najibvusolo2/15293.ts
#EXTINF:-1,IT: Esperia TV
http://one4k.net:13000/live/strongholds29/najibvusolo2/15292.ts
#EXTINF:-1,IT: Euronews Italiano
http://one4k.net:13000/live/strongholds29/najibvusolo2/15291.ts
#EXTINF:-1,IT: Eurosport 1 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15290.ts
#EXTINF:-1,IT: Eurosport 2 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15289.ts
#EXTINF:-1,IT: Rai 1
http://one4k.net:13000/live/strongholds29/najibvusolo2/15148.ts
#EXTINF:-1,IT: Rai 1 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15147.ts
#EXTINF:-1,IT: Rai 2
http://one4k.net:13000/live/strongholds29/najibvusolo2/15146.ts
#EXTINF:-1,IT: RAI 2 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15145.ts
#EXTINF:-1,IT: Rai 3
http://one4k.net:13000/live/strongholds29/najibvusolo2/15144.ts
#EXTINF:-1,IT: RAI 3 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15143.ts
#EXTINF:-1,IT: Rai 4
http://one4k.net:13000/live/strongholds29/najibvusolo2/15142.ts
#EXTINF:-1,IT: Rai 4 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15141.ts
#EXTINF:-1,IT: Rai 5
http://one4k.net:13000/live/strongholds29/najibvusolo2/15140.ts
#EXTINF:-1,IT: Rai 5 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15139.ts
#EXTINF:-1,IT: Rai Gulp
http://one4k.net:13000/live/strongholds29/najibvusolo2/15138.ts
#EXTINF:-1,IT: Rai Movie
http://one4k.net:13000/live/strongholds29/najibvusolo2/15137.ts
#EXTINF:-1,IT: Rai Nettuno
http://one4k.net:13000/live/strongholds29/najibvusolo2/15136.ts
#EXTINF:-1,IT: Rai News 24
http://one4k.net:13000/live/strongholds29/najibvusolo2/15135.ts
#EXTINF:-1,IT: Rai Premium
http://one4k.net:13000/live/strongholds29/najibvusolo2/15134.ts
#EXTINF:-1,IT: Rai Scuola
http://one4k.net:13000/live/strongholds29/najibvusolo2/15133.ts
#EXTINF:-1,IT: Rai Sport 1 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15132.ts
#EXTINF:-1,IT: Rai Sport 2
http://one4k.net:13000/live/strongholds29/najibvusolo2/15131.ts
#EXTINF:-1,IT: Rai Sport 2 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15130.ts
#EXTINF:-1,IT: Rai Storia
http://one4k.net:13000/live/strongholds29/najibvusolo2/15129.ts
#EXTINF:-1,IT: Rai Yoyo
http://one4k.net:13000/live/strongholds29/najibvusolo2/15128.ts
#EXTINF:-1,IT: Real Time
http://one4k.net:13000/live/strongholds29/najibvusolo2/15127.ts
#EXTINF:-1,IT: Real Time  1
http://one4k.net:13000/live/strongholds29/najibvusolo2/15126.ts
#EXTINF:-1,IT: Rete 4
http://one4k.net:13000/live/strongholds29/najibvusolo2/15125.ts
#EXTINF:-1,IT: Rete 4 HD
http://one4k.net:13000/live/strongholds29/najibvusolo2/15124.ts
#EXTINF:-1,IT: Rete 55 Live
http://one4k.net:13000/live/strongholds29/najibvusolo2/15123.ts
#EXTINF:-1,IT: Rete7 EmigliaRomana
http://one4k.net:13000/live/strongholds29/najibvusolo2/15122.ts
#EXTINF:-1,IT: ReteBiella TV
http://one4k.net:13000/live/strongholds29/najibvusolo2/15121.ts
#EXTINF:-1,IT: ReteSole Lazio
http://one4k.net:13000/live/strongholds29/najibvusolo2/15120.ts
#EXTINF:-1,IT: ReteSole Umbria
http://one4k.net:13000/live/strongholds29/najibvusolo2/15119.ts
#EXTINF:-1,IT: ROMA CHANNEL
http://one4k.net:13000/live/strongholds29/najibvusolo2/15118.ts
#EXTINF:-1,IT: RTL 102.5 TV (musica)
http://one4k.net:13000/live/strongholds29/najibvusolo2/15117.ts
#EXTINF:-1,IT: RtpTV
http://one4k.net:13000/live/strongholds29/najibvusolo2/15116.ts
#EXTINF:-1,IT: RTV 105
http://one4k.net:13000/live/strongholds29/najibvusolo2/15115.ts
#EXTINF:-1,IT: San Marino Rtv Sport
http://one4k.net:13000/live/strongholds29/najibvusolo2/15114.ts
#EXTINF:-1,IT: Sardegna Uno TV
http://one4k.net:13000/live/strongholds29/najibvusolo2/15113.ts
#EXTINF:-1,IT: Sport Italia
http://one4k.net:13000/live/strongholds29/najibvusolo2/15082.ts
#EXTINF:-1,IT: Sportelevision
http://one4k.net:13000/live/strongholds29/najibvusolo2/15081.ts