body {
    width: 100%;
    background-color: #adabab;
}
.container {
    width: 80%;
    margin-top: 10px;
}
.navbar {
    border-radius: 4px;
    border: solid 1px gray;
}
.navbar .navbar-nav {
    width: 100%;
    text-align: center;
    padding: 4px;
    -moz-box-shadow: 0px 0px 10px grey;
    -webkit-box-shadow: 0px 0px 10px grey;
    box-shadow: 0px 0px 10px grey;
}
.navbar .navbar-nav > li {
    float: none;
    display: inline-block;
    box-sizing: border-box;
    border: solid 2px gray;
    color: purple;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
    -moz-box-shadow: 0px 0px 2px grey;
    -webkit-box-shadow: 0px 0px 2px grey;
    box-shadow: 0px 0px 2px grey;
    letter-spacing: 0.1px;
    padding: 4px;
}
.navbar .navbar-nav > li:hover {
    border: solid 2px purple;
    color: purple;
    background-color: #eadeab;
    transition: border-color 0.5s linear;
    -moz-transition: border-color 0.5s linear;
    -o-transition: border-color 0.5s linear;
    -webkit-transition: border-color 0.5s linear;
}
.navbar .navbar-nav li a {
    color: purple;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    margin: 0px;
    padding: 10px;
}
.navbar .navbar-nav li a:hover {
    color: purple;
}
.navbar-default {
    background-color: #adabab;
    margin: 0px;
}
.sidebar {
    width: 15%;
    margin-top: 2rem;
    border: solid 1px gray;
    background-color: #adabab;
    color: purple;
    padding: 10px;
    -moz-box-shadow: 0px 0px 10px grey;
    -webkit-box-shadow: 0px 0px 10px grey;
    box-shadow: 0px 0px 10px grey;
}
.sidebar > h5 {
    color: white;
}
.sidebar > h4 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -0px;
}
.sidebar > h4,
.sidebar .battle,
.sidebar .trade-skills,
.sidebar .finance {
    border-bottom: solid 2px gray;
    content: "";
    width: 100%;
    padding-bottom: 7px;
}
.sidebar .trade-skills {
    border: none;
    padding-bottom: 1px;
}