server {
  return 404;
}

server {
  listen       0.0.0.0:80;
  server_name 52.58.128.162;

  client_max_body_size 30m;

  location /static/ {
    alias /static/;
  }

  location / {
    # Access control for CORS
    add_header Access-Control-Allow-Origin * always;
    add_header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS" always;
    add_header Access-Control-Allow-Headers "cache-control, content-range, accept, origin, session-id, content-disposition, x-requested-with, content-type, content-description, referer, user-agent, auth-token" always;
    add_header Access-Control-Allow-Credentials "true" always;

    # 10 minute pre-flight approval
    add_header Access-Control-Max-Age 600 always;

    if ($request_method = OPTIONS) {
      return 204;
    }
  
    proxy_pass http://web:8001;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}

server {
  listen       0.0.0.0:10005;
  server_name 52.58.128.162;

  client_max_body_size 30m;

  location / {
    # Access control for CORS
    add_header Access-Control-Allow-Origin * always;
    add_header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS" always;
    add_header Access-Control-Allow-Headers "cache-control, content-range, accept, origin, session-id, content-disposition, x-requested-with, content-type, content-description, referer, user-agent, auth-token" always;
    add_header Access-Control-Allow-Credentials "true" always;

    # 10 minute pre-flight approval
    add_header Access-Control-Max-Age 600 always;

    if ($request_method = OPTIONS) {
      return 204;
    }
  
    proxy_pass http://web:8001/api/send;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}