@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


/* BODY */


body{
  color: #D8D8D8;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  background: #1D1D1D;
}


/* HEADER */


.header {
  height: 55px;
}

.header .logo {
  width: 57px;
  height: 48px;
  margin-top: -9px;
  margin-left: -5px;
  margin-bottom: -8px;
}
.header .search-bar .input-group {
}

.header .search-button {
  border: none !important;
  outline: 0;
  background: #1a1a1a;
  border-radius: 0;
  cursor: pointer;
  box-shadow: none;
}

.header .search-logo{
  width: 31px;
}
.header .search-field {
  background: #1a1a1a;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: white;
  box-shadow: none !important;
  border: none !important;
  outline: none;
  border-radius: 0;
}

::-webkit-input-placeholder {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: white;
}






/* SIDEBAR GAUCHE */

.innactif{
  text-decoration: line-through;
  color: white;
}

.sidebar_left{
  background: #0D0D0D;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

.perso {
  padding-top: 25px;
}
.perso a{
  text-decoration: none;
}

.perso span {
  color: white;
  font-size: 19px;
  margin-left: 8px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transition: padding-left .5s; /* For Safari 3.1 to 6.0 */
  transition: padding-left .5s;
}
.perso span:hover{
  padding-left: 15px;
}

.link{
  padding-top: 15px;
}

.link .nav-item {
  margin-top: -9px;
}

.link span{
  color: #E4E4E4;
  padding: 8px 0px 0px 8px;
  -webkit-transition: padding-left .5s; /* For Safari 3.1 to 6.0 */
  transition: padding-left .5s;
  font-size: 17px;
}
.link span:hover{
  padding-left: 15px;
}






/* SIDEBAR DROITE */

.mCSB_inside > .mCSB_container{ padding: 0 !important;margin: 0 !important; }


.mCustomScrollBox{
	min-width: 100% !important;
}


.sidebar_right_content{
	height: calc(100vh - 115px);
	overflow-y: hidden;
}
.recherche{
	height: 60px;
	background: #0d0d0d;
}

.sidebar_right{background: #121212;}

.mamis h2, .amis h2, .groupes h2{
  margin-top: 10px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 10px;
  font-weight: 400;
  height: 24px;
  width: 90%;
  border-bottom: 1px solid grey;
  letter-spacing: -0.5;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: white;
}
.mamis .col-lg-12, .amis .col-lg-12, .groupes .col-lg-12{
	padding: 0 0 0 15px;
}
.groupes{
  padding-top: 0px;
}
.sidebar_right .mamis span, .sidebar_right .amis span, .sidebar_right .groupes span {
  color: white;
  margin-left: 5px;
}



.recherche{
  bottom: 0;
}

.search-bottom  {
  position:fixed; 
  bottom:0;
  height:60px;
}

  .submit-search-social {
    border: none;
    outline: none;
    background: #0d0d0d;
    float: right;
    width: 45px;
    height: 60px;

  }

  .submit-search-social .image-search-social {
    width: 100%;
  }

  .search-bar-social {
    position: fixed;
    bottom: 0px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    float: right;
    width: 100%;
    margin-left: -15px !important;
  }

  ::-webkit-input-placeholder {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #BDBDBD;
  }


  input[type="search-social"] {
    font-size: 13.5px;
    letter-spacing: -0.5px;
    font-weight: 100;
    height: 60px;
    padding: 8px;
    padding-top: 11px;
    width: calc(100%  - 45px);
    background: #0d0d0d;
    color: #BDBDBD;
    border: none;
    outline: none;
    border-radius: 0px 0px 0px 0px;
  }


/* CONTENU */

.sidebar_left, .sidebar_right, .content{
  height: calc(100vh - 55px);
}
.content{background: #1A1A1A; font-family: 'Roboto', sans-serif;}
.content_desc{color: #D8D8D8; margin-bottom: 15px; font-weight: 300;}
.content_header{color: white; font-weight: 300;}
.content_header_title{margin-top: 4px; font-weight: 400; font-size: 25px;}
.content_header_time{margin-top: 6px;}
.content_info{color: white; font-weight: 200;}
.content_img img{max-height: 410px;}
.article{background:#101010;}
.clear{height: 30px;display: block;width: 100%;}

.content_title{background: #121212; height: 60px}

.content_title .inside{
  margin-top: 14px;
  font-size: 20px;
}

.content_article{overflow-y: hidden;height: calc(100vh - 105px);}


/* CARTE */

.card-body{
  background: #0D0D0D !important;
}
.card{
  border: none;
}
.card-title{
  margin-bottom: 0;
}
.card-title span{
  font-size: .6em;
  font-weight: 300;
  float: right;
  padding-top: 5px;
}

/* ACCUEIL */

.content_accueil{overflow-y: hidden;height: calc(100vh - 55px);}

.accueil .content_accueil_row {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.accueil .player_contain {
  background: #121212;
  margin: 12px 0px 0px calc(1%);
  width: 24%;
  min-width: 160px;
  padding-bottom: 0px;
}

.game_info .img-fluid {
  margin-top: 15px;
}

.game_info .text-center {
  font-size: 18px;
}

.row_players_container {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #333333;
}

.players_container .row .col-lg-2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.player_contain .text-center {
  font-size: 18px;
  margin-top: 1px;
  margin-bottom: -0px;
}

.player_contain .score {
  color: #81F781;
  font-size: 16px;
  margin-bottom: -24px;
  z-index: 1;
  margin-right: 5px;
}

.expand {
  margin-top: 5px;
  height: 25px;
  padding: 0 !important;
}

.expand .expand-click {
  cursor: pointer;
  margin-top: -3px;
  width: 30px;
  margin-left: 12px;
  float: left;
}

.expand .expand-click-desc {
  cursor: pointer;
  margin-left: 15px;
  float: left;
}

.content_filter_row {
  height: 60px;
  margin-top: 10px;
}

.search-filter  {
  width: 100%;
}

  .submit-search-filter {
    border: none;
    outline: none;
    background: #0d0d0d;
    float: left;
    width: 45px;
    height: 60px;
  }

  .submit-search-filter .image-search-filter {
    width: 100%;
  }

  .search-bar-filter {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
    margin-left: -16px !important;
  }

  ::-webkit-input-placeholder {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: #BDBDBD;
  }


  input[type="search-filter"] {
    font-size: 15px;
    letter-spacing: -0.2px;
    font-weight: 100;
    height: 60px;
    padding-left: 10px;
    background: #0d0d0d;
    color: #BDBDBD;
    border: none;
    width: calc(100% - 50px);
    outline: none;
    border-radius: 0px 0px 0px 0px;
  }

/* PRONOSTIQUE */

.prono_teams{
  padding-top: 10px;
}
.team1{
  float: left;
}
.vs{
  font-size: 2em;
  font-weight: 300;
}
.team2{}
.team2 img, .team1 img{
  width: 70px;
}
.team1, .team2{
  font-weight: 200;
  font-size: 1.5em;
}
.prono_bar{
  padding-top: 30px;
}
.progress{
  padding-left: 0;
  padding-right: 0;
  height: 4px;
}
.prono_point{
  padding-top: 10px;
  font-size: 1.5em;
  font-weight: 300;
}

.prono_btn{
  padding-top: 15px;
}
.prono_btn a{
  background: #1A1A1A;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
}
.prono_btn a:hover{
  background:#151515;
  text-decoration:none; 
}
.prono_filter button{
  border: none;
  background: none; 
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  font-weight: 200;
  padding-right: 50px;
  transform: translateY(20%);
}

.content a{
  color: white;
}


/* PRONOSTIQUE SIMPLE */

.pronoS_btn{
  padding-top: 15px;
  padding-bottom: 15px;
}
.pronoS_btn button{
  background: #1A1A1A;
  box-shadow: none !important;
  color: white;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
}
.pronoS_btn button:hover{
  background:#151515;
  box-shadow: none !important;
}

/* CONCOURS */
.concours_img img{
  max-height: 410px;
}
.concours_info{
  padding-top: 15px;
  padding-bottom: 15px;
}
.concours_header{
  padding-top: 15px;
}
.concours_btn button{
  background: #1A1A1A;
  box-shadow: none !important;
  color: white;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
}
.concours_btn button:hover{
  background:#151515;
  box-shadow: none !important;
}
.concours_btn{
  padding-bottom: 15px;
}
.concours_btn a{
  background: #1A1A1A;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
}

.concours_btn a:hover{
  background:#151515;
  text-decoration:none; 
}

/* PROFIL */

@media (max-width: 1554px) {
  .team1, .team2{
  font-weight: 200;
  font-size: 1em;
}
  span{
    font-size: 0.8em;
  }
  .nav-item span{
    font-size: 0.8em;
  }
}