/* kings css ver 1.3*/
body 
{
	display: block;
	margin: 0px;
	height: 100%;
	background-color:#B2FFB2;
	/*background-color:#FFE066;*/
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1vw;
	color:black;
}

.suit
{
	width: 100%;
	background-color:white;
	font-size: 18vw;
}

.newCardClass
{
	width: 100%;
	font-size: 12vw;
}

.buttonTxt
{
	background-color:#66FF66;
	/*background-color:#FFD633*/
}

.ruleClass
{
	/*font-size: 20px;*/
	font-size: 1.6vw;
	width: 100%;
}

.titleClass
{
	/*font-size: 35px;*/
	font-size: 2.5vw;
	font-weight: bold;
}

.timerClass
{
	visibility: hidden;
	/*font-size: 25px;*/
	font-size: 2vw;
	font-weight: bold;
}

.bottomClass
{
	/*font-size: 10px;*/
	font-size: 1vw;
}

.red
{
	color: red;
}
.black
{
	color: black;
}

.themeButton
{
	position:fixed;
	left: 95%px;
	top:0%;
	font-size: 4vw;
}