ul {
  list-style-type: none;
}

li {
  width: 400px;
  margin-bottom: 15px;
  font-family: Consolas;
  word-wrap: break-word;
}

li  p {
  width: 400px;
  border: 1px solid black;
}

// Сини
#first {
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #99CAEB;
  border: 2px solid #99CAEB;
  height: auto;
  margin-left: -25px;
}

// Зелени
#third {
  border-bottom-left-radius: 13px;
  border-top-right-radius: 13px;
  background-color: #00BB00;
  border: 2px solid #00BB00;
  margin-left: 170px;
  height: auto;
}