Welcome to • APOCALYPSE •
				____________________		
				FIGHT and BE A KING!
				____________________
Bagi kalian yang berjiwa petarung sejati tak kenal lelah demi bangsanya, disini lah tempat yang paling tepat. Kami tidak akan meninggalkan seorang teman sendirian & saling membantu antar anggota. Welcome! 
•	Solidarity
•	Loyality 
•	Friendly
•	Respect 
Leader   :  AceLeader
Anggota :
1.	AceArief
2.	AceDesta
3.	AceArgus
4.	AcePutri
5.	AcePrettyAngel
6.	
7.	
Terimakasih yang sudah bergabung dengan kami untuk memajukan com ini, serta membuat komunitas kita disegani dengan com lainnya. Tanpa adanya kalian kami bukan apa apa! 
FIGHT and BE A KING! 
We are Apocalyse Team! 
We Strong Together! 
Ace need you! 
Group   :  https://chat.whatsapp.com/A9ue0qZN8ufGgEoZQrqES2