

/* ===============================================
   LOGO
   =============================================== */

#logo { 
	position:relative; 
	padding:0;
	line-height:90px;
	max-height:90px;
} 

#logo a.logo { 
	color:#fff; 
	text-decoration:none; 
	text-align:center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
} 

#logo a.logo span {
	/*display:block;*/
	text-align:center;
	margin:0;
	line-height:1.6em;
	margin-top:15px;
} 

#logo img {
	padding:5px 0;
	max-height:80px
}