div.reviews {
    border-top: 1px solid #5F9EA0;
    border-bottom: 1px solid #5F9EA0;
}

p.reviews_name {
    font-style: italic;
    text-align: right;
}

p.reviews_data {
    font-weight: bold;
    text-align: left;
}