# Secondary Server block for monitor.tronflix.com (Monitorr)
server {
        listen 443 ssl http2;
        include /config/nginx/ssl.conf;
        root /config/www/Monitorr;
        index index.html index.htm index.php;
        server_name monitor.example-domain.com;

        # Organizr Auth Block
        location /auth-admin {
                internal;
                proxy_pass http://docker.yocum.local:8888/auth.php?admin;
                proxy_set_header Content-Length "";
        }

        location /auth-user {
                internal;
                proxy_pass http://docker.yocum.local:8888/auth.php?user;
                proxy_set_header Content-Length "";
        }

        # Deny access to all .ht files
        location ~ /\.ht {
                deny all;
        }

        # Home location block (Monitorr)
        location ^~ / {
                auth_request /auth-user;
                index index.html index.php;
                include /config/nginx/php.conf;
        }
}